<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <title>Личный кабинет</title>
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <div class="navig" style="float: right">
                <p>{{ current_user }}</p>
                <a href="/account/">Аккаунт</a>
                <form method="GET" action="/exit/"> {% csrf_token %}
                    <div style="text-align: center;">
                        <input class="button-registration" type="submit" value="Выйти">
                    </div>
                </form>
            </div>
        </div>
    </nav>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css"/>

    <div class="container text-left" style="margin-top: 2%; margin-bottom: 10%">
        <h1 style="text-align: center; color: #f7008c">Личный кабинет</h1>
        <div class="col-md-offset-2 col-xs-12 inp-border" style="margin-bottom:2%; align-content: center;text-align: center; color: #000">
            <p>Нажмите на <a href="/menu/" class="otherLink" style="font-size: 20px;">сслыку</a>, чтобы переидти в раздел меню.</p>
        </div>
            <div class="data_form" style="width: 100%;display: inline-block; text-align: center">
            <form method="POST"> {% csrf_token %}
                <h3 style="text-align: center; color: #f7008c">Ежедневные данные</h3>
                <p style="color: #f7008c">{{ response }}</p>
                <hr>
                <label for="weight"><b>Вес: </b></label>
                <input style="border-radius: 10px;width: 50%" class="reg_text" type="text" placeholder="Введите вес" name="weight" onkeypress='validate(event)' required>


                <div id="sandbox-container"> <!-- Date input -->
                    <label for="date"><b>Дата: </b></label>
                    <div class="input-daterange input-group  reg_text" id="datepicker" style="color:black;border-radius: 10px; width: 50%">
                        <input style="width: 100%;border-radius: 10px;" type="text" class="input-sm form-control" name="date" required/>
                    </div>

                </div>


                <button type="submit" class="registerbtn" style="border-radius: 10px;width: 25%">Записать</button>
            </form>
        </div>
        <hr>
        <div class="data_form" style="width: 100%;display: inline-block;">

            <h3 style="text-align: center; color: #f7008c">График прогресса</h3>
            <p style="text-align: center; color: #f7008c">Начальный вес: {{ start_weight }} кг.</p>
            <div style="width:100%;height:100%; color:#000">
                {{ graph_div|safe }}
            </div>
            <hr>

        </div>

        <div class="col-md-offset-2 col-xs-12" style="align-content: center;color: #f7008c; margin-bottom:10%">
            <h3 style="text-align: center; color: #f7008c">Любмиые блюда</h3>
            {% for item in fav_menu %}
                {% with 'dish_images/'|add:item.dish_id.img as pic %}
                        {% if item.img == '' %}
                            <img class="q_img" src="https://lh3.googleusercontent.com/proxy/pA7ZfsqnENWp4mL1c8JHO2uxhCLBZhwwkhXzBHJ1Sp0iMY2g9gGzXmx6z75G4xAYDEzyGSqXXQunoI7F2GQn5S-CUzF8eYP49iN9QFxVfS4Wcjicmh7BqsUAnE19q0A" width="13%" height="13%">
                        {% else %}
                            <img class="q_img" src="{% static pic %}" alt="https://bitsofco.de/content/images/2018/12/Screenshot-2018-12-16-at-21.06.29.png" width="13%" height="13%">
                        {% endif %}
                    {% endwith %}
                    <p><b>Название:</b> {{ item.dish_id.dish_name}}</p>
                    <p><b>Количество калорий</b>: {{ item.dish_id.calories }} ккал</p>
                    <p><b>Время приготовления:</b> {{ item.dish_id.time_to_make }} минут</p>
                    <p><b>Ингредиенты:</b> {{ item.dish_id.ingredients }}</p>
                    <p><b>Рецепт:</b> {{ item.dish_id.recipe }}</p>
                    <hr>
            {% endfor %}
        </div>


    </div>
    <script>
        $('#sandbox-container .input-daterange').datepicker({
        format: "yyyy/mm/dd",
        todayBtn: "linked",
        todayHighlight: true,
        language: "ru",
        orientation: "left top"
        });

        function validate(evt) {
            var theEvent = evt || window.event;

              // Handle paste
              if (theEvent.type === 'paste') {
                  key = event.clipboardData.getData('text/plain');
              } else {
              // Handle key press
                  var key = theEvent.keyCode || theEvent.which;
                  key = String.fromCharCode(key);
              }
              var regex = /[0-9]|\./;
              if( !regex.test(key) ) {
                theEvent.returnValue = false;
                if(theEvent.preventDefault) theEvent.preventDefault();
              }
            }
    </script>

<footer class="page-footer font-small blue footer" style="">


  <div class="footer-copyright py-3 ">
      <p style="text-align: left"><b style="color: #000;">Студент:</b>  Галкина Алина Викторовна 09-633  <br>
          <b style="color: #000;">Научный руководитель:</b>  Денисов Максим Юрьевич </p>
  </div>


</footer>

</body>
</html>
