<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <title>Результат</title>
    <link rel="icon" href="{% static 'icon.png' %}">
</head>
<body>
{% if current_user != 'none' and current_user != 'NotExists' %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <div class="navig" style="float: right">
                <p>{{ current_user }}</p>
                <a href="/account/">Аккаунт</a>
                <form method="GET" action="/exit/"> {% csrf_token %}
                    <div style="text-align: center;">
                        <input class="button-registration" type="submit" value="Выйти">
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
        </div>
    </nav>
{% endif %}

    <div class="content" style="margin-bottom: 10%;">

        <h1 style="text-align: center">Результат.</h1>

        <hr>
        <h3 style="text-align: center">Нужный дневной рацион.</h3>
        <p style="text-align: center">Необходимая суммарная калорийность всех блюд за день для достижения указанного веса:</p>
        <div style="margin-left:25%;background-color: #f92ba4; color: #fff;width: 50%; height: 20%;border-radius: 20px">
            <p style="text-align: center; font-size: 50px;margin-block-start: 0;margin-block-end: 0;">{{ daily_calories }} ккал.</p>
            <p style="text-align: center; font-size: 20px;margin-block-start: 0;margin-block-end: 0;">Ваш идеальный вес: {{ perfect_weight }} кг.</p>
        </div>
    </div>

<footer class="page-footer font-small blue footer" style="">


  <div class="footer-copyright py-3 ">
      <p style="text-align: left"><b style="color: #000;">Студент:</b>  Галкина Алина Викторовна 09-633  <br>
          <b style="color: #000;">Научный руководитель:</b>  Денисов Максим Павлович <br>
			<b style="color: #000;">Контактная почта:</b>  alishka193@yandex.ru</p>
  </div>


</footer>

</body>
</html>
