<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Калькулятор</title>
    <link rel="icon" href="{% static 'icon.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">

</head>
<body>
{% if current_user != 'none' and current_user != 'NotExists' %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <div class="navig" style="float: right">
                <p>{{ current_user }}</p>
                <a href="/account/">Аккаунт</a>
                <form method="GET" action="/exit/"> {% csrf_token %}
                    <div style="text-align: center;">
                        <input class="button-registration" type="submit" value="Выйти">
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
        </div>
    </nav>
{% endif %}



    <link rel="stylesheet" href="{% static 'css/radiobox.css' %}">
    <div class="content" style="margin-bottom: 10%;text-align: center">
        <form method="POST"> {% csrf_token %}
            <h1 style="text-align: center">Калькулятор калорий</h1>
            <p>Шаг 1. Укажите ваш пол.</p>
              <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
              <label class="form-check-label" for="exampleRadios1" style="word-spacing: 40px">
                Мужчина&nbsp;
              </label>
              <input class="form-check-input" type="radio" name="sex" id="female" value="female">
              <label class="form-check-label" for="exampleRadios1">
                Женщина
              </label>
            <hr>
            <p>Шаг 2. Укажите ваши данные.</p>
            <label for="weight"><b>Вес: </b></label>
            <input style="border-radius: 10px;width: 10%;height: 5%" class="reg_text" type="text" placeholder="В кг" name="weight" required>
            &nbsp;
            <label for="height"><b>Рост: </b></label>
            <input style="border-radius: 10px;width: 10%;height: 5%" class="reg_text" type="text" placeholder="В см" name="height" required>
            &nbsp;
            <label for="age"><b>Возраст: </b></label>
            <input style="border-radius: 10px;width: 10%;height: 5%" class="reg_text" type="text" placeholder="В годах" name="age" required>
            <hr>

            <p>Шаг 3. Укажите вашу нагрузку.</p>
                <div style="text-align: left; margin-left: 15%; font-size: 20px">
                    <input class="form-check-input" type="radio" name="phys" id="phys_0" value="1.2" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        У вас нет физических нагрузок и сидячая работа.
                    </label><br>
                    <input class="form-check-input" type="radio" name="phys" id="phys_1" value="1.375">
                    <label class="form-check-label" for="exampleRadios1">
                        Вы совершаете небольшие пробежки или делаете легкую гимнастику 1–3 раза в неделю.
                    </label><br>
                    <input class="form-check-input" type="radio" name="phys" id="phys_2" value="1.55">
                    <label class="form-check-label" for="exampleRadios1">
                        Вы занимаетесь спортом со средними нагрузками 3–5 раз в неделю.
                    </label><br>
                    <input class="form-check-input" type="radio" name="phys" id="phys_3" value="1.725">
                    <label class="form-check-label" for="exampleRadios1">
                        Вы полноценно тренируетесь 6–7 раз в неделю.
                    </label><br>
                    <input class="form-check-input" type="radio" name="phys" id="phys_4" value="1.9">
                    <label class="form-check-label" for="exampleRadios1">
                        Ваша работа связана с физическим трудом, вы тренируетесь 2 раза в день и включаете в программу тренировок силовые упражнения.
                    </label>
                </div>
            <hr>
            <p>Шаг 4. Укажите вашу цель.</p>
            <div style="text-align: left; margin-left: 15%; word-spacing: 40px; font-size: 20px">
                <input class="form-check-input" type="radio" name="goal" id="lower_f" value="0" checked>
                <label class="form-check-label" for="goal" style="word-spacing: 1px">
                Быстро сбрость вес
                </label><br>
                <input class="form-check-input" type="radio" name="goal" id="lower" value="1">
                <label class="form-check-label" for="goal" style="word-spacing: 1px">
                Безопастно сбрость вес
                </label><br>
                <input class="form-check-input" type="radio" name="goal" id="stable" value="2">
                <label class="form-check-label" for="goal" style="word-spacing: 1px">
                Поддержать вес
                </label><br>
                <input class="form-check-input" type="radio" name="goal" id="higher" value="3">
                <label class="form-check-label" for="goal" style="word-spacing: 1px">
                Безопастно набрать вес
                </label><br>
                <input class="form-check-input" type="radio" name="goal" id="higher_f" value="4">
                <label class="form-check-label" for="goal" style="word-spacing: 1px">
                Резко набрать вес
                </label>
            </div>
            <hr>
            <button type="submit" class="registerbtn" style="border-radius: 10px;width: 50%">Рассчитать...</button>
        </form>
    </div>

<footer class="page-footer font-small blue footer" style="">



  <div class="footer-copyright py-3 ">
      <p style="text-align: left"><b style="color: #000;">Студент:</b>  Галкина Алина Викторовна 09-633  <br>
          <b style="color: #000;">Научный руководитель:</b>  Денисов Максим Павлович <br>
			<b style="color: #000;">Контактная почта:</b>  alishka193@yandex.ru</p>
  </div>


</footer>

</body>
</html>
