<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Главная</title>
    <link rel="icon" href="{% static 'icon.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">

</head>
<body>
{% if current_user == 'none' %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <form class="navig" method="POST"> {% csrf_token %}
                <label for="email" >Email: </label>
                <input id="email" class="inp-border" type="text" name="email">
                <label for="password">Пароль: </label>
                <input id="password" class="inp-border"  type="password" name="password">
                <div style="text-align: center;">
                    <input class="button-registration" type="submit" value="Войти"><br>
                    <a href="/registration/" style="font-size: 10">Регистрация</a>
                </div>
            </form>
        </div>
    </nav>
{% elif current_user == 'NotExists' %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <form class="navig" method="POST"> {% csrf_token %}
                <label for="email" >Email: </label>
                <input id="email" class="inp-border" type="text" name="email" placeholder="   Пользователь">
                <label for="password">Пароль: </label>
                <input id="password" class="inp-border"  type="password" name="password" placeholder="   не существует!!!">
                <div style="text-align: center;">
                    <input class="button-registration" type="submit" value="Войти"><br>
                    <a href="/registration/" style="font-size: 10px">Регистрация</a>
                </div>
            </form>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <div class="navig" style="float: right">
                <p>{{ current_user }}</p>
                <a href="/account/">Аккаунт</a>
                <form method="GET" action="/exit/"> {% csrf_token %}
                    <div style="text-align: center;">
                        <input class="button-registration" type="submit" value="Выйти">
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endif %}

<div class="content" style="margin-bottom: 15%;">
    <h1 style="text-align: center">Главная страница</h1><br>

    <p>Калькулятор поможет рассчитать онлайн суточную потребность в калориях, индекс массы тела (ИМТ), а так же покажет рекомендации по потреблению калорий для похудения или набора веса.</p>
    <p>В расчётах ежедневных затрат калорий используется формула Миффлина — Сан-Жеора.</p>
    <p>Для вычисления индекса массы тела используется формула французского хирурга и антрополога Полема Брока.</p>
</div>




    <div class="reviews">

    </div>






<footer class="page-footer font-small blue footer" style="">


  <div class="footer-copyright py-3 ">
      <p style="text-align: left"><b style="color: #000;">Студент:</b>  Галкина Алина Викторовна 09-633  <br>
          <b style="color: #000;">Научный руководитель:</b>  Денисов Максим Павлович <br>
			<b style="color: #000;">Контактная почта:</b>  alishka193@yandex.ru</p>
  </div>


</footer>

</body>
</html>
