<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link rel="icon" href="{% static 'icon.png' %}">
    <title>Частые вопросы</title>
</head>
<body>
{% if current_user == 'none' %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <form class="navig" method="POST"> {% csrf_token %}
                <label for="email" >Email: </label>
                <input id="email" class="inp-border" type="text" name="email">
                <label for="password">Пароль: </label>
                <input id="password" class="inp-border"  type="password" name="password">
                <div style="text-align: center;">
                    <input class="button-registration" type="submit" value="Войти"><br>
                    <a href="/registration/" style="font-size: 10">Регистрация</a>
                </div>
            </form>
        </div>
    </nav>
{% elif current_user == 'NotExists' %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <form class="navig" method="POST"> {% csrf_token %}
                <label for="email" >Email: </label>
                <input id="email" class="inp-border" type="text" name="email" placeholder="   Пользователь">
                <label for="password">Пароль: </label>
                <input id="password" class="inp-border"  type="password" name="password" placeholder="   не существует!!!">
                <div style="text-align: center;">
                    <input class="button-registration" type="submit" value="Войти"><br>
                    <a href="/registration/" style="font-size: 10px">Регистрация</a>
                </div>
            </form>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <div class="navig" style="float: right">
                <p>{{ current_user }}</p>
                <a href="/account/">Аккаунт</a>
                <form method="GET" action="/exit/"> {% csrf_token %}
                    <div style="text-align: center;">
                        <input class="button-registration" type="submit" value="Выйти">
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endif %}


    <div class="content" style="margin-bottom: 15%; overflow: auto">
    {% for item in question_fields %}
        <div class="container" style="overflow: auto">
            <div>
                {% with 'people_images/'|add:item.img as pic %}
                    {% if item.img == '' %}
                        <img class="q_img" src="https://lh3.googleusercontent.com/proxy/pA7ZfsqnENWp4mL1c8JHO2uxhCLBZhwwkhXzBHJ1Sp0iMY2g9gGzXmx6z75G4xAYDEzyGSqXXQunoI7F2GQn5S-CUzF8eYP49iN9QFxVfS4Wcjicmh7BqsUAnE19q0A" width="13%" height="13%">
                    {% else %}
                        <img class="q_img" src="{% static pic %}" alt="https://bitsofco.de/content/images/2018/12/Screenshot-2018-12-16-at-21.06.29.png" width="13%" height="13%">
                    {% endif %}
                {% endwith %}
            </div>
            <div class="question">
                <p>Вопрос: {{ item.question }}</p>
            </div>
            <div class="answer">
                <p>Ответ: {{ item.answer }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}
    </div>

<footer class="page-footer font-small blue footer" style="">



  <div class="footer-copyright py-3 ">
      <p style="text-align: left"><b style="color: #000;">Студент:</b>  Галкина Алина Викторовна 09-633  <br>
          <b style="color: #000;">Научный руководитель:</b>  Денисов Максим Павлович <br>
			<b style="color: #000;">Контактная почта:</b>  alishka193@yandex.ru</p>
  </div>

</footer>

</body>
</html>

