<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link rel="icon" href="{% static 'icon.png' %}">
    <title>Регистрация</title>
</head>
<body>
{% if current_user == 'none' %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <form class="navig" method="POST"> {% csrf_token %}
                <label for="email" >Email: </label>
                <input id="email" class="inp-border" type="text" name="email">
                <label for="password">Пароль: </label>
                <input id="password" class="inp-border"  type="password" name="password">
                <div style="text-align: center;">
                    <input class="button-registration" type="submit" value="Войти"><br>
                    <a href="/registration/" style="font-size: 10">Регистрация</a>
                </div>
            </form>
        </div>
    </nav>
{% elif current_user == 'NotExists' %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <form class="navig" method="POST"> {% csrf_token %}
                <label for="email" >Email: </label>
                <input id="email" class="inp-border" type="text" name="email" placeholder="   Пользователь">
                <label for="password">Пароль: </label>
                <input id="password" class="inp-border"  type="password" name="password" placeholder="   не существует!!!">
                <div style="text-align: center;">
                    <input class="button-registration" type="submit" value="Войти"><br>
                    <a href="/registration/" style="font-size: 10px">Регистрация</a>
                </div>
            </form>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #e785b4;">
        <div class="container" style="margin-top: 1%;text-transform: uppercase;">
            <div class="navig" style="margin-bottom: 1.9%">
                <b><a href="/">На главную</a>&nbsp;&nbsp;&nbsp;</b>
                <b><a href="/reviews/">Обзоры пользователей</a></b><br><br>
                <b><a href="/calculator/">Тестирование</a></b> &nbsp;&nbsp;&nbsp;
                <b><a href="/questions/">Часто задаваемые вопросы</a></b>
            </div>
            <div class="navig" style="float: right">
                <p>{{ current_user }}</p>
                <a href="/account/">Аккаунт</a>
                <form method="GET" action="/exit/"> {% csrf_token %}
                    <div style="text-align: center;">
                        <input class="button-registration" type="submit" value="Выйти">
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endif %}


    <div class="content" style="margin-bottom: 15%;">
        <form method="POST"> {% csrf_token %}
            <h1 style="text-align: center">Регистрация</h1>
            <p>Пожалуйста, заполните эту форму, чтобы создать аккаунт.</p>
            {% if email_exists == True %}
                <hr>
                <p>Пользователь с таким email уже существует!</p>
            {% endif %}
            {% if nick_exists == True %}
                <hr>
                <p>Никнейм уже занят!</p>
            {% endif %}
            <hr>
            <label for="email_reg"><b>Фамилия</b></label>
            <input style="border-radius: 10px;" class="reg_text" type="text" placeholder="Введите фамилию" name="firstName" required>

            <label for="email_reg"><b>Имя</b></label>
            <input style="border-radius: 10px;" class="reg_text" type="text" placeholder="Введите имя" name="lastName" required>

            <label for="email_reg"><b>Отчество</b></label>
            <input style="border-radius: 10px;" class="reg_text" type="text" placeholder="Введите отчество" name="patro" required>

            <label for="email_reg"><b>Никнейм</b></label>
            <input style="border-radius: 10px;" class="reg_text" type="text" placeholder="Введите ник" name="nick" required>

            <label for="email_reg"><b>Email</b></label>
            <input style="border-radius: 10px;" class="reg_text" type="text" placeholder="Введите Email" name="email_reg" required>

            <label for="psw_reg"><b>Пароль</b></label>
            <input style="border-radius: 10px;" class="reg_text" type="password" placeholder="Введите пароль" name="psw_reg" id="psw_reg" required>

            <label for="psw-repeat_reg"><b>Повторите пароль</b></label>
            <input style="border-radius: 10px;" class="reg_text" type="password" placeholder="Повторите пароль" name="psw-repeat_reg" oninput="check(this)" required>
            <hr>

            <button type="submit" class="registerbtn" style="border-radius: 10px; width: 50%; margin-left: 25%" id="submit_btn" disabled>Зарегистрироваться</button>
        </form>
    </div>

<footer class="page-footer font-small blue footer" style="">


  <div class="footer-copyright py-3 ">
      <p style="text-align: left"><b style="color: #000;">Студент:</b>  Галкина Алина Викторовна 09-633  <br>
          <b style="color: #000;">Научный руководитель:</b>  Денисов Максим Павлович <br>
			<b style="color: #000;">Контактная почта:</b>  alishka193@yandex.ru</p>
  </div>

</footer>
<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('psw_reg').value) {
            input.setCustomValidity('Пароли должны повторяться.');
            $("#submit_btn").attr("disabled", true);
        } else {
            input.setCustomValidity('');
            $("#submit_btn").attr("disabled", false);
        }
    }
</script>
</body>
</html>

