{% extends "base.html" %}



{% block content %}
    <title>Бланки удостоверений личности</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts1/">Бланки для общеобразовательных учреждений</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts2/">Бланки для высших учебных заведений</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts3/">Бланки для учреждений среднего профессионального образования</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts4/">Бланки для учреждений дополнительного профессионального образования</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts5/">Бланки для учреждений послевузовского образования</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts6/">Бланки для медицинских учреждений</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts7/">Бланки лицензий</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts8/">Бланки свидетельств маршрута, карт и спецразрешений</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts9/">Топливные талоны</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts10/">Марки-пломбы ККТ</a>
							</li>
                            <li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/polyproducts11/">Бланки удостоверений личности</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts12/">Бланки племенных свидетельств</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts13/">Полиграфическая защита</a>
							</li>
                            
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">

<h3>Бланки удостоверений личности</h3>

            <p>
                <b><span style="font-family: Verdana;">
                                            Бланк охотничьего билета                                    </span></b><br>
            </p>
            <div id="parent">
                                                                                        <div>
                                <a class="popup" title="Бланки удостоверений личности" href="https://neoprint.ru/upload/resize_cache/iblock/941/1023_1023_1ece9199085369ed04692d1f624404a1a/blankohotnichegobileta.jpg">
                                    <img src="https://neoprint.ru/upload/resize_cache/iblock/941/1023_1023_1ece9199085369ed04692d1f624404a1a/blankohotnichegobileta.jpg" alt="Бланк охотничьего билета" style="margin:5px auto; max-width:100%; " title="Бланк охотничьего билета" />
                                </a>
                            </div>

                </div>
            </div>
            </div>

            </div>


</div>
    </div>
{% endblock %}
