{% extends "base.html" %}



{% block content %}
    <title>Полиграфическая защита</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts1/">Бланки для общеобразовательных учреждений</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts2/">Бланки для высших учебных заведений</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts3/">Бланки для учреждений среднего профессионального образования</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts4/">Бланки для учреждений дополнительного профессионального образования</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts5/">Бланки для учреждений послевузовского образования</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts6/">Бланки для медицинских учреждений</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts7/">Бланки лицензий</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts8/">Бланки свидетельств маршрута, карт и спецразрешений</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts9/">Топливные талоны</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts10/">Марки-пломбы ККТ</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts11/">Бланки удостоверений личности</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts12/">Бланки племенных свидетельств</a>
							</li>
                            <li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/polyproducts13/">Полиграфическая защита</a>
							</li>
                            
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">

<h3>Полиграфическая защита</h3>
            <p>
 <span style="font-family: Verdana;">Компания "Неопринт"&nbsp;использует самые<b> передовые способы защиты и материалы </b>для создания продукции защищенной полиграфии.</span>
</p>
<p>
 <span style="font-family: Verdana;"><b>Классические способы защиты:</b></span><br>
</p>
<ul>
	<li><span style="font-family: Verdana;">гильоширные элементы,</span></li>
	<li><span style="font-family: Verdana;">орнаменты и розетты,</span></li>
	<li><span style="font-family: Verdana;">графические элементы-ловушки,&nbsp;</span></li>
	<li><span style="font-family: Verdana;">элементы по технологии "ирисового раската",&nbsp;</span></li>
	<li><span style="font-family: Verdana;">микротексты</span><br>
 </li>
</ul>
<p>
</p>
<p>
</p>

<p>
 <span style="font-family: Verdana;"><b>Голографические способы защиты:</b></span>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">разрушение при попытке отклеивания,</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">персонализация,</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">деметализация – химическая и лазерная,</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">оптическая защита</span>
	</p>
 </li>
</ul>
<p>
</p>

<p>
 <span style="font-family: Verdana;"><b>Химическая защита</b></span>
</p>
<p>
 <span style="font-family: Verdana;"><b>Магнитооптическая защита</b> </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"><b>Использование специальных материалов</b></span><b>:</b>
</p>
<p>
 <br>
</p>
<p>
 <br>
</p>
<p>
 <br>
</p>

<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">с различным содержанием волокон,</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">с водяными знаками,</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">с включение защитных элементов,</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">с внедрённой металлической или полимерной нитью</span>
	</p>
 </li>
</ul>
<p>
</p>
<p>
 <span style="font-family: Verdana;"><b>Персонализация:</b></span>
</p>

<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">нумерация высоким способом печати,</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">лазерная нумерация и штрихкодирование,</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Atlantic Zeiser - нумерация и штрихкодирование по любым материалам</span>
	</p>
 </li>
</ul>
<p>
</p>
 <b>&nbsp;Встраивание в продукт RFID-антенн</b><br>        </div>
    </div>


</div>
    </div>
{% endblock %}
