{% extends "base.html" %}



{% block content %}
    <title>Бланки свидетельств маршрута, карт и спецразрешений</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts1/">Бланки для общеобразовательных учреждений</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts2/">Бланки для высших учебных заведений</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts3/">Бланки для учреждений среднего профессионального образования</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts4/">Бланки для учреждений дополнительного профессионального образования</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts5/">Бланки для учреждений послевузовского образования</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts6/">Бланки для медицинских учреждений</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts7/">Бланки лицензий</a>
							</li>
                            <li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/polyproducts8/">Бланки свидетельств маршрута, карт и спецразрешений</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts9/">Топливные талоны</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts10/">Марки-пломбы ККТ</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts11/">Бланки удостоверений личности</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts12/">Бланки племенных свидетельств</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts13/">Полиграфическая защита</a>
							</li>
                            
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">


<h3>Бланки свидетельств маршрута, карт и спецразрешений</h3>
            <p>
 <b><span style="font-family: Verdana;">Бланк специального разрешения на движение по автомобильным дорогам транспортного средства, осуществляющего перевозки тяжеловесных и (или) крупногабаритных грузов</span></b><br>
</p>
 <b><span style="font-family: Verdana;"><a class="popup" href="https://neoprint.ru/products/blankspecialnogorazreshenijanadvizheniepoavtomobilnymdorogam.jpg"><img alt="бланк специального разрешения на движение по автомобильным дорогам" src="https://neoprint.ru/products/blankspecialnogorazreshenijanadvizheniepoavtomobilnymdorogam.jpg" style="margin:5px auto; max-width:100%; " title="бланки специального разрешения на движение по автомобильным дорогам "></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></b><a class="popup" href="https://neoprint.ru/products/blankspecrazreshenijanaperevozkugruzov.jpg"><b><span style="font-family: Verdana;"><img alt="бланк спецразрешения на перевозку грузов" src="https://neoprint.ru/products/blankspecrazreshenijanaperevozkugruzov.jpg" style="margin:5px auto; max-width:100%; " title="бланки спецразрешений на перевозу грузов"><br>

                </div>
            </div>
            </div>

            </div>


</div>
    </div>
{% endblock %}
