{% extends "base.html" %}



{% block content %}
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts1/">Этикетки, стикеры, наклейки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts2/">Многослойные этикетки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts3/">Рекламные этикетки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts4/">Этикетки-замки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts5/">Бирки, ярлыки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts6/">Отраслевое применение</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts7/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts8/">Требования к оригинал-макетам</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts9/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts10/">Требования к оригинал-макетам</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts11/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts12/">Требования к оригинал-макетам</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/polyproducts13/">Полиграфическая защита</a>
							</li>

						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">




                </div>
            </div>
            </div>

            </div>


</div>
    </div>
{% endblock %}
