<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\main_page.css' %}">
    <link rel="icon" href="{% static 'images\icon.PNG' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
	<div id="header" style="margin: 2% 0">
	    <div class="container">
		<div class="row">
		    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
			<a class="logo" href="/">
			    <img src="{% static 'images\icon.PNG' %}" height="100px" width="100px" alt="На главную страницу" title="На главную страницу" />
                </a>
                <br>
                <a class="otherLink" style="text-align: center; font-size: 20px" href="/">ООО ГК &#171;Новая волна&#187;</a>
		    </div>
		    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
                <div class="col-xs-6" style="margin-top: 25%">
                    <a href="/map/" title="Карта сайта"><img class="icon" src="{% static 'images\map.PNG' %}" style="width: 50px; height: 50px; border-radius: 50%;"></a>
                    <a href="https://www.instagram.com/novaya_volna1/" title="Написать нам"><img class="icon" src="{% static 'images\send.PNG' %}" style="width: 50px; height: 50px; border-radius: 50%;"></a>
                </div>

		    </div>
		    <div>
			    <div class="col-xs-8 col-sm-8 col-md-12" style="margin-top: 25%">
                    <strong>г. Альметьевск</strong><br>
                    +7 <font style="color:#e40000;">(8553)</font> 38-37-88
                </div>
            </div>
            <div>
                <div class="col-xs-8 col-sm-8 col-md-12" style="margin-top: 25%">
                    <strong>г. Казань</strong><br>
                    +7 <font style="color:#e40000;">(843)</font> 297-38-88
                </div>

            </div> <!-- row -->
        </div>
	</div>
        </div>

<div>
<div class="navbar">
  <div class="dropdown">
    <a href="#" class="dropbtn">КОМПАНИЯ
      <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-content" style="min-width: 160px;">
        <a href="/about/">О компании</a>
        <a href="/history/">История</a>
        <a href="/tech/">Технологические возможности</a>
        <a href="/policy/">Политика в области качества</a>
        <a href="/cvodka/">Специальная оценка условий труда</a>
        <a href="/reviews/">Отзывы</a>
    </div>
  </div>
    <div class="dropdown">
        <a href="#" class="dropbtn">САМОКЛЕЯЩИЕСЯ ЭТИКЕТКИ
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content" style="  min-width: 308px;">
          <a href="/etiketki1/">Этикетки, стикеры, наклейки</a>
          <a href="/etiketki2/">Многослойные этикетки</a>
          <a href="/etiketki3/">Рекламные этикетки</a>
          <a href="/etiketki4/">Этикетки-замки</a>
          <a href="/etiketki5/">Бирки, ярлыки</a>
          <a href="/etiketki6/">Отраслевое применение</a>
          <a href="/etiketki7/">Полиграфическая защита</a>
          <a href="/etiketki8/">Требования к оригинал-макетам</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="#" class="dropbtn">ТЕРМОБИЛЕТЫ
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content" style="  min-width: 160px;">
          <a href="/bilet1/">Билеты для культурно-развлекательной сферы</a>
          <a href="/bilet2/">Полиграфическая защита</a>
          <a href="/bilet3/">Требования к оригинал-макетам</a>
        </div>
    </div>
        <div class="dropdown">
        <a href="#" class="dropbtn">ЗАЩИЩЕННАЯ ПОЛИГРАФИЧЕСКАЯ ПРОДУКЦИЯ
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content" style="min-width: 160px;z-index: 100">
            <a href="/polyproducts1/">Бланки для общеобразовательных учреждений</a>
            <a href="/polyproducts2/">Бланки для высших учебных заведений</a>
            <a href="/polyproducts3/">Бланки для учреждений среднего профессионального образования</a>
            <a href="/polyproducts4/">Бланки для учреждений дополнительного профессионального образования</a>
            <a href="/polyproducts5/">Бланки для учреждений послевузовского образования</a>
            <a href="/polyproducts6/">Бланки для медицинских учреждений</a>
            <a href="/polyproducts7/">Бланки лицензий</a>
            <a href="/polyproducts8/">Бланки свидетельств маршрута, карт и спецразрешений</a>
            <a href="/polyproducts9/">Топливные талоны</a>
            <a href="/polyproducts10/">Марки-пломбы ККТ</a>
            <a href="/polyproducts11/">Бланки удостоверений личности</a>
            <a href="/polyproducts12/">Бланки племенных свидетельств</a>
            <a href="/polyproducts13/">Полиграфическая защита</a>
        </div>
    </div>
    <a href="/send_request/">ОТПРАВИТЬ ЗАЯВКУ</a>
    <a href="/contacts/">КОНТАКТЫ</a>
</div>
{% block content %}
{% endblock %}

</div>



<footer class="page-footer font-small blue footer">

  <div class="footer-copyright py-3 ">
      <p style="text-align: left"><b style="color: #404040;">Студент:</b> Зарубежнова Виктория Сергеевна<br>
          <b style="color: #404040;">Научный руководитель:</b> Сабитов Шамиль Рустэмович</p>
  </div>


</footer>


</body>
</html>