{% extends "base.html" %}

{% load static %}
{% block content %}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script type="text/javascript">
        var map;

        DG.then(function () {
            map = DG.map('map', {
                center: [54.885266, 52.28149],
                zoom: 19
            });
            DG.marker([54.885266, 52.28149]).addTo(map).bindPopup('Адрес: Монтажная, 9/2; Телефон: +7 (8553) 38‒37‒88');
        });
    </script>
    <title>Контакты</title>
	    <div class="container">
            <div class="row">
                <div class="col-md-3 container" style="margin:2% 0; border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 100%; padding: 2% 2%">
                    <h1>КОНТАКТЫ</h1>
                    <div>
                    <div id="map" style="width:500px; height:400px"></div>
                    <div class="data" style="max-width: 40%; float: left;margin-left: 2%">
                        <b>Адрес:</b><br>
                        г. Альметьевск, ул. Монтажная, 9<br><hr>
                        <b>Телефоны:</b><br>
                        8 (8553) 38-37-88<br>
                        8 (8553) 31-22-11<br><hr>
                        <b>Электронный ящик:</b><br>
                        rpf_a@mail.ru<br><hr>
                        <b>Строительство:</b><br>
                        8 (8553) 40-00-16<br><hr>
                        <b>Аренда щитов:</b><br>
                        8 (8553) 40-77-22<br><hr>

                        <h1>ФИЛИАЛ В Г. КАЗАНЬ</h1>
                        <b>Адрес</b><br>
                        г. Казань, ул. Жукова, д. 14, пом. 10<br><hr>
                        <b>Телефон:</b><br>
                        8 (843) 297-38-88<br>

                    </div>
                        </div>



                </div>
            </div>
        </div>
{% endblock %}