{% extends "base.html" %}


{% block content %}
    <title>Отправить запрос</title>
	    <div class="container">
            <div class="row">
                <div class="col-md-3 container" style="margin:2% 0; border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 100%">
                    <h1 style="margin-top: 1%">ОТПРАВИТЬ ЗАПРОС НА ИЗГОТОВЛЕНИЕ ПРОДУКЦИИ</h1>
                    {% if is_sent == True %}
                        <p>Запрос принят на обработку!</p>
                    {% endif %}
                    {% if empty_choice == True %}
                        <p>Выберите продукцию перед отправкой запроса!</p>
                    {% endif %}
                    <form method="POST">{% csrf_token %}
                        <input type="hidden" name="sessid" id="sessid" value="" /><input type="hidden" name="WEB_FORM_ID" value="1" />
                        <div class="form-group row">

                            <div class="col-xs-12 col-md-3">
                                Ф.И.О<font color='red'><span class='form-required starrequired'>*</span></font>				<label></label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <input type="text"  class="inputtext"  name="form_text_1" value="" size="0" required/>
                            </div>

                        <div class="clearfix"></div>
                    </div>
                        <div class="form-group row">
                        <div class="col-xs-12 col-md-3">
                            Название вашей компании<font color='red'><span class='form-required starrequired'>*</span></font>				<label></label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <input type="text"  class="inputtext"  name="form_text_2" value="" size="0" required/>			</div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="form-group row">
                        <div class="col-xs-12 col-md-3">
                            Ваше местоположение<font color='red'><span class='form-required starrequired'>*</span></font>				<label></label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <input type="text"  class="inputtext"  name="form_text_3" value="" size="0" required/>			</div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="form-group row">
                        <div class="col-xs-12 col-md-3">
                            Ваша должность				<label></label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <input type="text"  class="inputtext"  name="form_text_4" value="" size="0" />			</div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="form-group row">
                        <div class="col-xs-12 col-md-3">
                            Сфера вашей деятельности				<label></label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <input type="text"  class="inputtext"  name="form_text_5" value="" size="0" />			</div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="form-group row">
                        <div class="col-xs-12 col-md-3">
                            Ваш e-mail<font color='red'><span class='form-required starrequired'>*</span></font>				<label></label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <input type="text"  class="inputtext"  name="form_text_6" value="" size="0" required/>			</div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="form-group row">
                        <div class="col-xs-12 col-md-3">
                            Ваш телефон<font color='red'><span class='form-required starrequired'>*</span></font>				<label></label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <input type="text"  class="inputtext"  name="form_text_7" value="" size="0" required/>			</div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="form-group row">
                        <div class="col-xs-12 col-md-3">
                            Выберите интересующую вас тему				<label></label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <select  style="width: 100%" name="form_select" id="form_dropdown_SIMPLE_QUESTION_733">
                                <option value="choice">-- Выберите продукцию --</option>
                                {% for key, prod_list in products.items %}
                                    <optgroup label="{{ key }}">
                                        {% for item in prod_list %}
                                            <option value="{{ item.product_name }}">{{ item.product_name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                        <div class="form-group row">
                        <div class="col-xs-12 col-md-3">
                            Пожалуйста, опишите ваш заказ или задайте вопрос				<label></label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <textarea style="width: 100%" name="form_textarea_11" cols="40" rows="5"  class="inputtextarea" ></textarea>			</div>
                        <div class="clearfix"></div>
                    </div>

                <div class="form-group pull-right row" style="margin-right: 1%">
                    <div class="col-xs-12">
                        <input class="button-red" style="margin-bottom:10px; border-radius: 30px;"  type="submit" name="web_form_submit" value="Отправить" />
                        <input class="button-grey" style="margin-bottom:10px; border-radius: 30px;" type="reset" value="Сбросить" />
                    </div>
                </div>
                <br/><br/>
                <p><font color='red'><span class='form-required starrequired'>*</span></font> - обязательные поля	</p>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}