{% extends "base.html" %}



{% block content %}
<title>Карта сайта</title>
<div class="container">
            <div class="row">
                <div class="col-md-3 container" style="margin:2% 0; border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 100%; padding: 2% 2%">

    				<h1 style="margin-top: 1%">Карта сайта</h1>
                    <hr>
    <table class="map-columns">
    <tr>
        <td>
            <ul class="map-level-0">
                    <li><a href="/about/">&mdash; Kомпания</a>					<ul class="map-level-1">
                        <li><a href="/about/">О компании</a></li>
                        <li><a href="/history/">История</a></li>
                        <li><a href="/tech/">Технологические возможности</a></li>
                        <li><a href="/policy/">Политика в области качества</a></li>
                        <li><a href="/cvodka/">Специальная оценка условий труда</a></li>
                        <li><a href="/reviews/">Отзывы</a></li>
                                </ul></li>

                    <li><a href="/etiketki1/">&mdash; Самоклеящиеся этикетки</a>					<ul class="map-level-2">
                        <li><a href="/etiketki1/">Этикетки, стикеры, наклейки</a></li>
                        <li><a href="/etiketki2/">Многослойные этикетки</a></li>
                        <li><a href="/etiketki3/">Рекламные этикетки</a></li>
                        <li><a href="/etiketki4/">Этикетки-замки</a></li>
                        <li><a href="/etiketki5/">Бирки, ярлыки</a></li>
                        <li><a href="/etiketki6/">Отраслевое применение</a></li>
                        <li><a href="/etiketki7/">Полиграфическая защита</a></li>
                        <li><a href="/etiketki8/">Требования к оригинал-макетам</a></li>
                                </ul></li>
                    <li><a href="/bilet1/">&mdash; Термобилеты</a>					<ul class="map-level-2">
                        <li><a href="/bilet1/">Билеты для культурно-развлекательной сферы</a></li>
                        <li><a href="/bilet2/">Полиграфическая защита</a></li>
                        <li><a href="/bilet3/">Требования к оригинал-макетам</a></li>
                                </ul></li>
                    <li><a href="/polyproducts1/">&mdash; Защищенная полиграфическая продукция</a>					<ul class="map-level-2">
                        <li><a href="/polyproducts1/">Бланки для общеобразовательных учреждений</a></li>
                        <li><a href="/polyproducts2/">Бланки для высших учебных заведений</a></li>
                        <li><a href="/polyproducts3/">Бланки для учреждений среднего профессионального образования</a></li>
                        <li><a href="/polyproducts4/">Бланки для учреждений дополнительного профессионального образования</a></li>
                        <li><a href="/polyproducts5/">Бланки для учреждений послевузовского образования</a></li>
                        <li><a href="/polyproducts6/">Бланки для медицинских учреждений</a></li>
                        <li><a href="/polyproducts7/">Бланки лицензий</a></li>
                        <li><a href="/polyproducts8/">Бланки свидетельств маршрута, карт и спецразрешений</a></li>
                        <li><a href="/polyproducts9/">Топливные талоны</a></li>
                        <li><a href="/polyproducts10/">Марки-пломбы ККТ</a></li>
                        <li><a href="/polyproducts11/">Бланки удостоверений личности</a></li>
                        <li><a href="/polyproducts12/">Бланки племенных свидетельств</a></li>
                        <li><a href="/polyproducts13/">Полиграфическая защита</a></li>
                                </ul></li></li>
                        <li><a href="/send_request/">&mdash; Заявка на продукцию</a></li>
                        <li><a href="/contacts/">&mdash; Контакты</a></li>
            </ul>
        </td>
    </tr>
</table>
</div>
            </div>
</div>
{% endblock %}