{% extends "base.html" %}

{% load static %}
{% block content %}
    <title>&#171;Новая волна&#187;</title>
	    <div class="container">
            <div class="row">
                <div class="col-md-3 container" style="margin:2% 0; border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 100%; padding: 2% 2%">
                    <h1>ООО ГК &#171;Новая волна&#187;</h1>
                    <div style="text-align: center">
                        <img src="{% static 'images\logo.png' %}">
                    </div> <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;На сегодняшний день в штате нашей команды работает 70 профессионалов своего дела, производственные площади занимают более 2500 квадратных метров. С каждым годом мы увеличиваем объёмы работ, но цены стараемся держать на прежнем уровне, несмотря на кризис. Благодаря этому наши работы представлены более чем в 40 городах России и, мы всегда рады новым клиентам и партнёрам.



                </div>
                </div>
            </div>
        </div>
{% endblock %}