{% extends "base.html" %}



{% block content %}
    <title>Билеты для культурно-развлекательной сферы</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/bilet1/">Билеты для культурно-развлекательной сферы</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/bilet2/">Полиграфическая защита</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/bilet3/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">


<h3>Билеты для культурно-развлекательной сферы</h3>
            <p>
 </p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Печать билетов осуществляется с использованием высококачественного материала – термокартона, который сохраняет свои свойства и нанесенные на него информацию и изображения более 8 лет. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> <b>Нам доступны:</b></span>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">печать на лицевой и оборотной стороне материала (различные виды пленок, фольги, термокартона, бумаги и ткани);</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">использование до 10 цветов одновременно;</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">межслойная печать на одной машине.</span>
	</p>
 </li>
</ul>
<p>
</p>
<p>
 <span style="font-family: Verdana;">Кроме того, в случае с печатью термобилетов необходимо соблюдать <b>ряд требований, предъявляемых к продукции </b>такого рода:</span>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">наличие необходимой (согласно действующему законодательству) информации;</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">наличие нумерации;</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">возможность длительного сохранения информации на билете;</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">защита от фальсификации и повторного применения.</span>
	</p>
 </li>
</ul>
<p>
</p>
<p>
 <span style="font-family: Verdana;">Современное оборудование, на котором "Неопринт"&nbsp;</span><span style="font-family: Verdana;">осуществляет печать билетов, позволяет соблюдать все эти требования без исключения. Таким образом, билеты на термокартоне от "Неопринт"&nbsp;– это уникальная, красочная продукция, значительно повышающая эффективность бизнеса.</span>
</p>
<p>
 <span style="font-family: Verdana;">При продаже билета специализированный термопринтер наносит на билетный бланк переменную информацию, которую экономически нецелесообразно наносить на бланки при печати тиража в типографии. Обычно переменная информация включает название и время мероприятия, номер ряда и места, стоимость билета. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Мы осуществляем печать билетов стандартного образца, но всегда готовы расширить свой ассортимент уникальной позицией по индивидуальному заказу.</span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
<p>
 <span style="font-family: Verdana;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="http://neoprint.ru/customers/"><img src="/images/zapros.jpg"></a><br>
 </span>
</p>        </div>
    </div>

                </div>
            </div>

{% endblock %}
