{% extends "base.html" %}



{% block content %}
    <title>Полиграфическая защита</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered ">
								<a style="display: block;" class="otherLink" href="/bilet1/">Билеты для культурно-развлекательной сферы</a>
							</li>
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/bilet2/">Полиграфическая защита</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/bilet3/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">


<h3>Полиграфическая защита</h3>
            <p>
 <span style="font-family: Verdana;">Возможности компании "Неопринт"&nbsp;позволяют применять широкий спектр методов защиты от фальсификации.</span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
<p>
</p>
<ul>
	<li><span style="font-family: Verdana;"><b>Визуальные элементы, определяемые персоналом заказчика:</b> оригинальный дизайн, голографические элементы, ирисовый раскат, защитные краски, специальная перфорация, материал с элементом "color center"</span></li>
</ul>
<p>
</p>
<ul>
	<li><span style="font-family: Verdana;"><b>Машиночитаемые признаки, определяемые персоналом заказчика:</b> уникальный штриховой код, магнитная краска, IR-краска,&nbsp;RFID</span></li>
</ul>
<p>
</p>
<ul>
	<li><span style="font-family: Verdana;"><b>Элементы экспертной оценки:</b> микротекст, заведомо искаженные элементы в дизайне, скрытое изображение в голографической фольге</span></li>
</ul>        </div>
    </div>

                </div>
            </div>

{% endblock %}
