{% extends "base.html" %}



{% block content %}
    <title>Требования к оригинал-макетам</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/bilet1/">Билеты для культурно-развлекательной сферы</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/bilet2/">Полиграфическая защита</a>
							</li>
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/bilet3/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">


<h3>Требования к оригинал-макетам</h3>
            <p>
 <span style="font-family: Verdana;">Наши специалисты могут полностью разработать дизайн любого билета: от идеи, до её воплощения в виде оригинал-макета. Если Вы разрабатываете макет самостоятельно, просим придерживаться следующих требований и рекомендаций. Это позволит сократить время работы над Вашим тиражом и получить качественный продукт в требуемые сроки. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Форматы принимаемых файлов.</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Все макеты должны быть предоставлены в векторном формате (.ai, .pdf, .eps, .cdr, .ap.)</span>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">Adobe Illustrator (версии до CS5 включительно);</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">CorelDraw (версии до X5 включительно);</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">ArtPro (версии до 8.2 включительно).</span>
	</p>
 </li>
</ul>
<p>
</p>
<p>
 <b><span style="font-family: Verdana;">Требования к растровым изображениям.</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Рекомендуемое разрешение растровых изображений - 300dpi. Цветовая модель - CMYK, Grayscale, Multichanel. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Для изображений в режиме Monotone Bitmap рекомендуемое разрешение - 600 dpi. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Изображения должны быть подлинкованы в векторный макет (linked), т.е. изображения должно быть предоставлено в виде отдельного файла. Форматы растровых изображений - TIFF, PSD. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Масштаб растровых изображений - 100%. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Растровые изображения, используемые как фон оригинал-макета, рекомендуется делать больше на 1 мм с каждой стороны, чем обрезной формат (Bleed - 1 мм). </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Из-за особенностей технологии печати минимальное значение растра - 3%. Это касается всех элементов макета, как растровых изображений, так и векторных элементов. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Толщина линий.</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Минимальная толщина линий, должна составлять не менее 0,1 мм. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Толщина линий и линий шрифтовых элементов, выполненных инверсией должна составлять минимум 0,15 мм. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Шрифты.</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Все шрифты должны быть переведены в кривые. В случаях, когда предполагается последующее редактирование текста, шрифты должны прилагаться отдельно. Минимальный размер шрифта - 4 pt. Если в оригинал-макете используются текст и линии инверсией на растровом фоне, то необходимо вокруг текста (объекта) задать контур толщиной минимум 0,15 мм, окрашенный в 100% цвет одной из сепарации, например, в черный цвет или в Pantone. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Фирменные знаки и логотипы.</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Торговые марки, знаки и логотипы должны быть представлены в векторном формате, при наличии рекомендуется предоставить брэндбук (brand book). </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Цвета в оригинал-макетах.</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Используемые в оригинал-макете цвета должны быть точно определены в CMYK-модели (если это смесевые цвета), либо по каталогу Pantone. Желательно указать используемые в макете цвета в виде плашек, окрашенных в цвет краски и с подписью название краски. При разработке дизайна для печати в одну, или две краски необходимо чтобы все элементы дизайна были окрашены в оттенки указанных красок (а не в CMYK-эквиваленте). </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Спецэффекты в оригинал-макетах.</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	В оригинал-макетах, созданных в векторных редакторах, категорически не допускается использование Drop Shadow, Transparency и других фильтров и эффектов, в основе которых лежит использование прозрачности, т.к. в результате применения таких эффектов, результирующие значения цвета зачастую выходят за рамки допустимого минимума - 3%. </span>
</p>
        </div>
    </div>

                </div>
            </div>

{% endblock %}
