body{
    color:#fff;
    background-color: #fff;
    font-family:Calibri;
    height: 100%;
}
a{
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;

}
a:hover{
    color: #ff000d;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.otherLink{
    color:#e785b4;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.otherLink:hover{
    color: #f70207;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.navig{
    float: right;
    text-align: -webkit-match-parent;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
b{
    color: #f7008c;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.footer {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    left:0;
    padding-left: 13.5%; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    background-color: #e785b4; /* Цвет фона */
}
@media (pointer:none), (pointer:coarse) {
    .footer{
        position: fixed;
    }
}
img.rounded-corners {
    border-radius: 30px;
    max-width: 100%;
}
.button-registration {
    background: none;
    background-color: #f7008c;
    color: #fff;
    border: 2px solid #f7008c;
    text-align: center;
    border-radius: 5px;
    padding: 0 10px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 110%;
    transition: all .2s ease-in-out;
}
.button-registration:hover {
    background: none;
    background-color: #ff000d;
    color: #fff;
    border: 2px solid #ff000d;
    text-align: center;
    border-radius: 5px;
    padding: 0 10px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 110%;
    transition: all .2s ease-in-out;
}
.inp-border{
    border: 1px solid #ff000d;
    border-radius: 10px;
}
.content {
    border: 1px solid #ff000d;
    color: #f7008c;
    border-radius: 10px;
    margin: 2% 20%;
    padding: 16px;
    background-color: white;
}
.reg_text {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.reg_text:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1109b;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}
.registerbtn:hover {
  opacity: 1;
}
.findbtn {
  background-color: #ff93ca;
  color: black;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
    transition: all .2s ease-in-out;
}
.findbtn:hover {
      color: white;
    background-color: #f7008c;
    transition: all .2s ease-in-out;
}
.find_text {
  width: 50%;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 10px;
  background: #f1f1f1;
}
.find_text:focus {
  background-color: #ddd;
  outline: none;
}

.q_img{
    float: left;
    border-radius: 15px;
    margin-right: 1%;
}
.question{
    font-size: 20px;
}
.answer{
    font-size: 20px;
}
.data_form{

}

table {
    color: #d23da0;
}