{% extends "base.html" %}



{% block content %}
    <title>О компании</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/about/">О компании</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/history/">История</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/tech/">Технологические возможности</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/policy/">Политика в области качества</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/cvodka/">Специальная оценка условий труда</a>
							</li>
							<li class="lev1 last-item hovered">
								<a style="display: block;" class="otherLink" href="/reviews/">Отзывы</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
            <div class="col-md-3 container" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">

                <h1 class="article-title">Группа компаний ООО ГК «Новая Волна»</h1>

                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Группа компаний «Новая Волна» образовалась в результате слияния ведущих рекламно-производственных фирм города Альметьевск. На сегодняшний день мы входим в список наиболее динамично развивающихся компаний юго-востока Татарстана, которые вот уже более 20 лет успешно работают на рынке Татарстана и Поволжья. Группа компаний «Новая Волна» предлагает полный комплекс услуг, от идеи до воплощения ваших пожеланий, с оптимальным соотношением цены и качества.</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Многочисленные положительные отзывы – это то, чем гордится наша компания. По отзывам постоянных клиентов нашей компании, куда входят предприятия ПАО «Татнефть», Нефтесервисный холдинг «ТаграС», ПАО «Транснефть» и крупные сетевые компании, нам всегда можно поручить как выполнений серьезных задач в комплексе, так и проведение отдельных работ по частям. В любом случае мы подберем оптимальные и удобные для клиента варианты решений. С 2013 года мы открыли новое направление - строительство.</p>
                        <h2>НАШЕ ОБОРУДОВАНИЕ</h2>
                        <div id="wb_Text4">&nbsp;&nbsp;&nbsp;&nbsp;Для всего производственного процесса у нас имеется производственная база более 2500 м2 и всё необходимое оборудование:</div>

                        <div class="equip">
                            <div>
                            <h3>Применяется в наружной рекламе:</h3>
                        <ul>
                        <li>Широкоформатный принтер шириной печати 3,2м в количестве 2 штук (300 м2/ч). Может печатать на баннере, пленке, бумаге и других рулонных материалах.</li>
                        <li>Интерьерный принтер Mimaki шириной 1,6м, качество печать до 1440dpi.</li>
                        <li>УФ принтер (печать на любых поверхностях). Размер стола 3,5x1,6м. А также рулонных материалов шириной до 3,5м.</li>
                        <li>Режущий плоттер GRAFTEX шириной до 1,3м.</li>
                        <li>Фрезерно-гравировальные станки с ЧПУ размером 2.4x1,2м и 1,2x1,2м.</li>
                        <li>Вакуумная формовка 1,5x1,5м.</li>
                        <li>Станки для изготовления объемных букв из нержавейки (лазерная сшивка металла).</li>
                        <li>Принтер для печати на ткани шириной 1,8м.</li>
                        <li>Лазерный станок YH - G1490B 80Вт.</li>
                        <li>Интерьерная печать 1.8м. качество печать до 2880 dpi</li>
                        </ul>
                        </div>
                        <div>
                        <h3>Применяется в строительстве:</h3>
                        <ul>
                        <li>Печь для порошковой окраски 1,6<span lang="EN-US">x</span>2,1х3,5м</li>
                        <li>Трубогибы</li>
                        <li>Листогибы</li>
                        <li>Станки для резки и фрезеровки композита</li>
                        <li>Вальцовочный станок</li>
                        <li>Вертикальный листогибочный пресс с ЧПУ размером 4м.</li>
                        <li>Лазерный станок для резки метала 1,5х3,0м размер рабочего поля</li>
                        </ul>
                        <h3>Применяется в полиграфии и сувенирах:</h3>
                        <ul>
                        <li>Текстильный принтер  <span lang="EN-US">Epson</span> 4880 0,4<span lang="EN-US">x</span>0,6 м.</li>
                        <li>Мини типография формат А3</li>
                        <li>Сканер формат А0</li>
                        <li>Термопрессы (футболки, бейсболки, кружки и.т.д)</li>
                        <li>Станок для изготовления значков</li>
                        <li>Гильотины для бумаги</li>
                        <li>Станки для тиснения </li>
                        </ul>
                        <h3>Применяется в макетировании:</h3>
                        <ul>
                        <li>3D-принтера Prusa i3 Steel.</li>
                        </ul>
                </div>
            </div>
            </div>

            </div>


</div>
    </div>
{% endblock %}
