{% extends "base.html" %}



{% block content %}
    <title>Специльная оценка условий труда</title>
      {% load static %}
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/about/">О компании</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/history/">История</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/tech/">Технологические возможности</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/policy/">Политика в области качества</a>
							</li>
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/cvodka/">Специальная оценка условий труда</a>
							</li>
							<li class="lev1 last-item hovered">
								<a style="display: block;" class="otherLink" href="/reviews/">Отзывы</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                        
<div class="col-md-3 container" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">
        <h1>Специльная оценка условий труда</h1>
                        <img src="{% static 'images\specotsenkausloviitruda.png' %}">
                        

            </div>

            </div>


</div>
    </div>
{% endblock %}