{% extends "base.html" %}



{% block content %}
    <title>История</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered ">
								<a style="display: block;" class="otherLink" href="/about/">О компании</a>
							</li>
							<li class="lev1 selected ">
								<a style="display: block;" class="otherLink" href="/history/">История</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/tech/">Технологические возможности</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/policy/">Политика в области качества</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/cvodka/">Специальная оценка условий труда</a>
							</li>
							<li class="lev1 last-item hovered">
								<a style="display: block;" class="otherLink" href="/reviews/">Отзывы</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
            <div class="col-md-3 container" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">

<h1>История</h1>
			    <h4>Двадцать лет развития - двадцать лет успеха!</h4>
<p> Компания "Новая волна" гордится историей своего развития и рада представить вашему вниманию краткую летопись основных событий.</p>
<h5>1999</h5>
<ul>
	<li>25 сентября 1999 года началась история компании. Напечатан первый тираж: высечка 58х30 (124 000 этикеток). Одними из первых заказчиков стали универсамы "Кировский" и "Фрунзенский".</li>
	<li>Первым печатным оборудованием, с которого началось оснащение производства, стала 4х-красочная флексографская машина "MarkAndy 2200".Закуплено первое резальное оборудование - перемоточно-резальная машина (ревайндер).</li>
	<li>Появились первые сложные на тот момент продукты: самоклеящиеся шестицветные этикетки.</li>
</ul>
<h5>2000</h5>
<ul>
	<li>Открыто новое направление - производство термобилетов и бирок. Первыми клиентами стали кинотеатры "Орбита", "Победа" и "Варшава" в г.Москва. Позже в числе клиентов появились кинотеатры, театры, организаторы спортивных мероприятий. Благодаря усилиям команды, "Новая волна" до сих пор удерживает более 50% этого сегмента. А компании доверяется самая ответственная работа, подобная тиражу билетов на "Евровидение 2009", "Летнюю Универсиаду 2013", "Чемпионат по водным видам спорта 2015".</li>
	<li>Приобретены две дополнительные флексографские машины "MarkAndy 2200", которые впоследствии были модернизированы. Закуплена упаковочная машина для вакуумной упаковки продукции.</li>
	<li>В 2000 году впервые сотрудники компании посетили самую крупную международную выставку этикеточной отрасли "LABELEXPO", которая проходит поочередно в городах Брюссель (Бельгия) и Чикаго (США). Со времени первого посещения выставки это мероприятие стало ежегодным.</li>
</ul>
<h5>2001</h5>
<ul>
	<li>Приобретено дополнительное флексографское оборудование, оборудование для резки билетной продукции.</li>
	<li>Построены и введены в эксплуатацию дополнительные производственные площади.</li>
</ul>
<h5>2002</h5>
<ul>
	<li>Появился участок по изготовлению печатных форм, что значительно сократило время изготовления тиража. Открылся участок нумерации билетной продукции.</li>
</ul>
<h5>2003</h5>
<ul>
	<li>27 января здание, в котором сегодня располагается компания"Новая волна" в Ленинградской области, стало собственностью компании. Началась реконструкция здания, перепланировка помещений и перенос оборудования.</li>
	<li>Приобретены еще две флексографские печатные машины "Mark Andy".</li>
	<li>Введена система управления цветом на платформе Macintosh, что позволяет обеспечивать стабильность показателей, предсказуемость и общее повышение качества печатной продукции, сокращение временных затрат на печать тиража.</li>
	<li>У компании появился собственный сайт: <a href="http://www.neoprint.ru">www.neoprint.ru</a>.</li>
	<li>Запущен проект по автоматизации управления предприятием совместно с компанией "Корус Консалтинг". </li>
	<li>Началась регулярная развозка сотрудников из Санкт-Петербурга на производство. В 2006 году компания приобрела 2 комфортабельных автобуса, оборудованных видео- и аудиосистемами, по 45 мест каждый, которые доставляют сотрудников из Санкт-Петербурга и Ленинградской области.</li>
</ul>
<h5>2004</h5>
<ul>
	<li>Компания отметила 5-летний юбилей. Торжество посетили наши заказчики, партнеры, а также представители администрации Ленинградской области. В ходе мероприятия гостям были продемонстрированы производственные мощности и новые технологические линии.</li>
	<li>После завершения реконструкции здания был запущен в работу большой печатный цех, участок резки и упаковки, открылся участок колористики, оборудованный современным оборудованием. Формы также приобрели свой участок – склад форм. При организации схемы работы участка была применена технология складского доступа к печатным комплектующим, заимствованная в одной из старейших типографий Великобритании.</li>
	<li>Для производства технологически сложной полноцветной продукции с разносторонней обработкой приобретена еще одна машина марки "Mark Andy". Расширен парк резального оборудования. Приобретено оборудование марки "Omega" для резки пленочной продукции</li>
	<li>"Новая волна" стал лауреатом международной премии "Kanzan Quality Award 2004" за выдающиеся качество печати и дизайна. (Duren, O5 October 2004). В тот момент "Новая волна" была единственной полиграфической компанией в России, удостоившейся этой награды.</li>
	<li>В 2004 году компания заняла первое место в Европе по качеству билетной продукции, опередив 27 ведущих полиграфических компаний из 12 Европейских стран.</li>
	<li>Компания "Новая волна" вступила в некоммерческую ассоциацию Союза потребителей тарной и упаковочной продукции "Союзупак".</li>
</ul>
<h5>2005</h5>
<ul>
	<li>У "Новая волна" появилась собственная площадка в Германии.</li>
	<li>В Калининграде начала действовать производственная площадка "Новая волна", специализирующаяся на печати технологической этикетки, поставляемой во все уголки России.</li>
	<li>В ряд уже проработанных технологий внедрены технологии конгревного тиснения и стопирования.</li>
	<li>Приобретены две офсетные печатные машины и еще одна машина флексографской печати .</li>
	<li>Компания первая в России начала осваивать производство многослойной этикетки. В дальнейшем это направление заработало как самостоятельное. </li>
	<li>"Новая волна" получила награду в конкурсе в номинации "Высокозащищенные этикетки" за серийные образцы высокозащищенных бланков топливных талонов.</li>
</ul>
<h5>2006</h5>
<ul>
	<li>На базе производства "Новая волна" создана лаборатория входного контроля и операционного контроля качества.</li>
	<li>23 июня в Москве компания"Новая волна" получила золотую медаль "Национальное достояние" Международного благотворительного фонда "Меценаты столетия".</li>
	<li>Компания получила серебро на конкурсе этикеток "Гранд Этикет 2006": жюри высоко оценило буклетную промо-этикетку, представленную нашей компанией.</li>
	<li>"Новая волна" вручен диплом Открытого конкурса в области полиграфического искусства "Мэтр Полиграфии-2006" в номинации "За технологические новшества". Жюри высоко оценило промо-этикетку, произведенную по заказу компании "Орими" (торговая марка "Жокей").</li>
	<li>Компания "Новая волна" стала членом Ленинградской торгово-промышленной палаты.</li>
	<li>Организован ежегодный турнир по мини-футболу "Кубок "Новая волна"".</li>
</ul>
<h5>2007</h5>
<ul>
	<li>Введены в эксплуатацию новые производственные площади во Всеволожске. Строительство было обусловлено экономической необходимостью: рост числа крупных заказчиков поставил перед компанией вопрос о расширении производства, закупке дополнительного оборудования и развитии собственного центра исследования качества материалов.</li>
	<li>На базе производственного комплекса создана служба качества.</li>
	<li>Заключен договор с Санкт-Петербургским государственным политехническим университетом на проведение практик и стажировок студентов.</li>
	<li>"Новая волна" выступил одним из спонсоров 80-летнего юбилея Ленинградской области.</li>
	<li>Организован первый турнир по волейболу, посвященный профессиональному празднику - Дню печати.</li>
</ul>
<h5>2008</h5>
<ul>
	<li>Компания "Новая волна" получила международный сертификат качества. Сертификат на соответствие стандарту ISO 9001:2000, свидетельствует об эффективно отлаженной системе менеджмента качества. В 2009 году сертификат был успешно подтвержден.</li>
	<li>Открыт филиал компании в Москве.</li>
	<li>Сотрудники компании посетили крупнейшую в мире полиграфическую выставку Drupa.</li>
	<li>Приняли участие в Х футбольном турнире среди полиграфистов Санкт-Петербурга "Кубок "Берега"". Команда "Новая волна" прошла все отборочные игры и вышла в 1/4 финала.</li>
	<li>"Новая волна" приняла участие в первой российской бизнес-регате, организованной медиа-холдингом РБК.</li>
	<li>У компании появились собственные СМИ: выпущен первый номер корпоративной газеты "NEOновости".</li>
</ul>
<h5>2009</h5>
<ul>
	<li>Компания отметила свой десятый день рождения.</li>
	<li>Компания приняла участие в выставке "Росупак 2009" в Москве, приобрела несколько новых крупных заказчиков.</li>
	<li>Компания "Новая волна" приняла участие в 16-й международной выставке напитков "Вино-Водка-2009" в г. Сочи.</li>
	<li>Глава администрации Всеволжского района отметил "Новая волна" среди компаний, достигших наибольших объемов за прошедший год вопреки кризису.</li>
	<li>Аудиторская комиссия компании "Русский стандарт" высоко оценила производство и систему качества "Новая волна".</li>
	<li>"Новая волна" успешно прошела первый надзорный аудит системы менеджмента качества компании на соответствие требованиям международного стандарта ISO 9001:2008.</li>
</ul>
<h5>2010</h5>
<ul>
	<li>Полиграфическая компания "Новая волна" одной из первых в России успешно протестировала и начала использовать инновационный материал серии Thin Range, предложенный финской компанией UPM Raflatac.</li>
	<li>Компания "Новая волна" предложила новинку полиграфии, изготовленную с применением уникальных технологий – аудио-этикетку.</li>
	<li>11 февраля в рамках четвертой ежегодной церемонии вручения Премии "HR-БРЕНД" были объявлены лучшие работодатели по итогам 2009 года. Полиграфическая компания "Новая волна" стала победителем в номинации "Северная столица".</li>
	<li>"Новая волна" получила награду в конкурсе "Продэкстрапак 2010", прошедшем в рамках выставки "Продэкспо 2010". Жюри оценило высокое качество исполнения промо-этикетки "Ив Роше".</li>
	<li>Сотрудники компании одержали победу в XII турнире по мини-футболу среди полиграфических компаний Санкт-Петербурга.</li>
	<li>Полиграфическая компания "Новая волна" приняла участие в 5-й международной специализированной выставке "РОСУПАК" в Москве.</li>
	<li>Жюри национального конкурса "Гранд-Звезда Россия" по достоинству оценило высокое качество промо-этикетки для кофе “Jardin”, напечатанной полиграфической компанией "Новая волна".</li>
</ul>
<h5>2012</h5>
<ul>
	<li>Команда "Новая волна" заняла третье место в турнире по мини-футболу на Кубок Союза полиграфистов Санкт-Петербурга "Футбол Print Профи"</li>
	<li>В Санкт-Петербурге запущен в эксплуатацию новый многофункциональный отделочный комплекс. Комплекс позволяет проводить комплексную финишную обработку любой ролевой продукции, отпечатанной на оборудовании компании.</li>
</ul>
<h5>2013</h5>
<ul>
	<li>В декабре компания получила лицензию на производство защищенной полиграфической продукции.</li>
	<li>Компания "Новая волна" является первой организацией в России, которая занимается поставками бланков для работы с автоматизированными системами продажи билетов. В 2013 году компания занималась печатью билетов на XXVII Всемирную летнюю Универсиаду-2013.</li>
</ul>
<h5>2014</h5>
<ul>
	<li>Компания отметила свой пятнадцатый день рождения.</li>
	<li>Компания "Новая волна" прошла ресертификационный аудит на соответствие требованиям международного стандарта ISO 9001-2008. Аудит был проведен BUREAU VERITAS SERTIFICATION (российское представительство международной группы Bureau Veritas Group).</li>
	<li>Компания успешно прошла клиентский аудит компанией ООО "Рекитт Бенкизер".</li>
</ul>
<h5>2015</h5>
<ul>
	<li>"Новая волна" успешно прошла ежегодный клиентский аудит компанией "Русский Стандарт", а также аудиты компаний ООО "Маревен Фуд Сэнтрал" и ЗАО "БАЙЕР".</li>
	<li>Компания "Новая волна" выполнила работу по печати и тиснению билетов на соревнования 16-го Чемпионата мира ФИНА по водным видам спорта в Казани.</li>
	<li>Прошел 1-й надзорный аудит Системы менеджмента качества на соответствие требованиям стандарта ISO 9001-2008 компанией BUREAU VERITAS SERTIFICATION.</li>
	<li>На участке персонализации установлен и запущен новый маркировочно-персонализационный комплекс.</li>
	<li>Компания "Новая волна" успешно прошла клиентский аудит, проведенный аудиторско-сертификационной компанией Intertek.</li>
	<li>В компании запущена в эксплуатацию многофункциональная листосчетная машина.</li>
	<li>"Новая волна" приняла участие в Международном Кинорынке.</li>
</ul>
<h5>2016</h5>
<ul>
	<li>В компании "Новая волна" введен в эксплуатацию новый контрольно-инспекционного комплекс производства компании "LabelTech".</li>
	<li>Успешно пройден аудит на соответствие стандарту менеджмента качества ISO 9001-2008.</li>
	<li>В "Новая волна" введена частичная компенсация сотрудникам стоимости занятий спортом в клубах и секциях.</li>
	<li>Произведена установка инновационной видеосистемы AVT Helios (Израиль), позволяющей осуществлять 100% контроль качества печати.</li>
	<li>Произведен монтаж и запуск в опытно-промышленную эксплуатацию новой флексографской печатной машины Gallus ECS 340.</li>
	<li>Успешно пройден SMETA аудит на соответствие требованиям организации SEDEX.</li>
	<li>Компания "Новая волна" приняла участие в выставке "КИНО ЭКСПО" 2016.</li>
</ul>

            </div>
            </div>

            </div>
</div>
{% endblock %}