{% extends "base.html" %}



{% block content %}
    <title>Политика качества</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/about/">О компании</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/history/">История</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/tech/">Технологические возможности</a>
							</li>
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/policy/">Политика в области качества</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/cvodka/">Специальная оценка условий труда</a>
							</li>
							<li class="lev1 last-item hovered">
								<a style="display: block;" class="otherLink" href="/reviews/">Отзывы</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
<div class="col-md-3 container" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">

<h1>Политика в области качества</h1>

			    <p>
 <span style="font-family: Verdana;">Компания "Неопринт"&nbsp;является обладателем <b><a href="http://www.neoprint.ru/company/docs.php">международного сертификата качества</a>&nbsp;- сертификата на соответствие стандарту ISO 9001</b>, что свидетельствует об эффективно отлаженной системе менеджмента качества. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Обладая высококвалифицированными кадрами в сфере управления производством и продажами полиграфической продукции, "Неопринт"&nbsp;следует в своей деятельности следующим принципам:</span>
</p>
<ul>
	<li><span style="font-family: Verdana;">соответствовать законодательным требованиям, требованиям компании и постоянно улучшать результативность системы менеджмента качества</span></li>
	<li><span style="font-family: Verdana;">оптимизировать деятельность путем применения комплексного подхода в управлении</span></li>
	<li><span style="font-family: Verdana;">обеспечивать конкурентное преимущество нашей продукции путем внедрения в производство передовых наукоемких технологий и совершенствования существующих технологических процессов</span></li>
	<li><span style="font-family: Verdana;">содействовать успешной деятельности наших потребителей и развитию российского здравоохранения, предлагая высококачественную продукцию и новейшие разработки в области ее защиты для фармацевтической промышленности, государственных, промышленных и иных предприятий</span></li>
	<li><span style="font-family: Verdana;">руководствуясь правилами "GMP"&nbsp;("Good Manufacturing Practice"&nbsp;- надлежащая производственная практика), осуществлять идентификацию и оценку опасных факторов влияющих на безопасность продукции, с целью выявления мест и условий возникновения потенциальных рисков и установления, необходимых мер для их контроля</span></li>
</ul>
<p>
 <span style="font-family: Verdana;">Политика руководства "Неопринт"&nbsp;в области качества основана на следующих ключевых позициях:</span>
</p>
<ul>
	<li><span style="font-family: Verdana;">ориентация на Потребителя - четкое определение потребностей и требований Клиента и всех обязательств перед ним</span></li>
	<li><span style="font-family: Verdana;">обязательная поставка продукции требуемого качества в соответствии с условиями заключенных контрактов</span></li>
	<li><span style="font-family: Verdana;">постоянное увеличение прибыли от производства и реализации выпускаемой высококачественной продукции</span></li>
	<li><span style="font-family: Verdana;">прирост объемов производства, за счет привлечения новых заказчиков</span></li>
	<li><span style="font-family: Verdana;">снижение уровня несоответствий изготавливаемой продукции и услуг</span></li>
	<li><span style="font-family: Verdana;">четкое регламентирование ответственности каждого работника в выполнении требований к качеству продукции на всех стадиях производственного цикла</span></li>
	<li><span style="font-family: Verdana;">постоянный анализ удовлетворенности Потребителей нашей продукцией и услуг</span></li>
	<li><span style="font-family: Verdana;">анализ рисков и внедрение мероприятий по их контролю</span></li>
	<li><span style="font-family: Verdana;">отлаженное взаимодействие между подразделениями Компании, как внутреннего поставщика и клиента</span></li>
	<li><span style="font-family: Verdana;">непрерывное повышение квалификации персонала, совершенствование процесса его обучения</span></li>
	<li><span style="font-family: Verdana;">постоянный мониторинг процессов, анализ их результативности, направленный на улучшение функционирования системы менеджмента качества</span></li>
</ul>
<p>
 <span style="font-family: Verdana;">Руководство "Неопринт"&nbsp;несет ответственность за реализацию Политики в области качества и гарантирует, что будет стремиться к максимальному удовлетворению требований потребителя.</span>
</p>
 <br>


            </div>
            </div>

            </div>


</div>

{% endblock %}