{% extends "base.html" %}



{% block content %}
    <title>Отзывы</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/about/">О компании</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/history/">История</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/tech/">Технологические возможности</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/policy/">Политика в области качества</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/cvodka/">Специальная оценка условий труда</a>
							</li>
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/reviews/">Отзывы</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                        
                      <div class="col-md-3 container" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">

                      <h1>Отзывы</h1>
                          <div id="bx_3107966303_322" class="col-xs-12 col-md-6 vac-block pl0">
		<div class="vac-name">ООО "Кохер+Бек"</div>
		<div class="vac-desc">Выражаем Вам нашу искреннюю благодарность и глубокую признательность за плодотворное сотрудничество и ответственность в выполнении финансовых обязательств.<br>
 На протяжении всего периода совместной работы Ваша компания является надежным, стратегическим партнером нашего предприятия. Мы верим в сохранение сложившихся деловых и дружеских отношений, позволяющих укрепить позиции наших компаний на рынке.<br>
<br>
 <b>С.И. Мамедов</b><br>
 <b>
Генеральный директор ООО "Кохер+Бек"<br>
 </b><b>Ф.Ф. Абилов</b><br>
 <b>Коммерческий директор ООО "Кохер+Бек"</b><b><br>
 </b></div>
	</div>
		<div id="bx_3107966303_321" class="col-xs-12 col-md-6 vac-block pr0">
		<div class="vac-name">АНО "ЦЕНТР СЕРТИФИКАЦИИ "СИМБИРСК-ТЕСТ"</div>
		<div class="vac-desc"><span style="font-family: Verdana;">Наша компания на протяжении длительного времени пользуется услугами Вашей организации по изготовлению знаков добровольного контроля качества алкогольной продукции Ульяновской области уровня защиты "В".</span><br>
 <span style="font-family: Verdana;"> </span><br>
 <span style="font-family: Verdana;">
Используя в работе знак, изготовленный Вашей организацией, удалось организовать дополнительный контроль качества за алкогольной продукцией, реализуемой на территории Ульяновской области, что помогает потребителям и контролирующим органам определять легальную и качественную продукцию и избежать поступления на алкогольный рынок фальсифицированной продукции.</span><br>
 <span style="font-family: Verdana;">
Производимая Вашей организацией продукция нас полностью устраивает, надеемся на дальнейшее плодотворное сотрудничество и взаимопонимание.</span><br>
 <br>
 <b>М.Г. Баумгертнер</b><br>
 <b>
Директор АНО "ЦС"Симбирск-Тест"</b><br></div>
	</div>
		<div id="bx_3107966303_320" class="col-xs-12 col-md-6 vac-block pl0">
		<div class="vac-name">Datamax Corporation</div>
		<div class="vac-desc"><span style="font-family: Verdana;">Сотрудничая с группой компаний, мы были свидетелями их роста, развития и становления в качестве нашего важного партнера.</span><br>
<span style="font-family: Verdana;"> </span><br>
<span style="font-family: Verdana;">
Они — профессионалы высокого класса, предлагающие своим клиентам и партнерам только законченные, продуманные решения. Их команда отличается высокой технологической компетентностью и исключительной порядочностью.</span><br>
 <br>
 <b>William Bouverie</b><br>
 <b>
President and CEO, Datamax Corporation</b></div>
	</div>
		<div id="bx_3107966303_319" class="col-xs-12 col-md-6 vac-block pr0">
		<div class="vac-name">Федеральное Государственное Унитарное предприятие "КБХЗ"</div>
		<div class="vac-desc"><span style="font-family: Verdana;">Наше предприятие работает с полиграфической компанией "Неопринт"&nbsp;с 2000 года. За прошедший период данной компанией изготовлены более 3 млн. сложных самоклеящихся этикеток для алкогольной продукции, выпускаемой нашим предприятием под маркой "Тигода".</span><br>
 <span style="font-family: Verdana;"> </span><br>
 <span style="font-family: Verdana;">
Для "Неопринта"&nbsp;всегда характерны — оперативность, стабильность качества, комплексное решение поставленных задач и особое внимание к клиенту.</span><br>
 <br>
 <b>Ю. Ф. Давыдов</b><br>
 <b>
Арбитражный Управляющий, Федеральное Государственное Унитарное предприятие "КБХЗ"</b></div>
	</div>
		<div id="bx_3107966303_318" class="col-xs-12 col-md-6 vac-block pl0">
		<div class="vac-name">Mark Andy</div>
		<div class="vac-desc"><span style="font-family: Verdana;">“The Neoprint Company has a passionate desire to be ahead of its time in terms of technical equipment and the range of services it offers. The management and staff are both highly motivated and keen to take onboard whatever new technology can offer.”</span><br>
 <br>
 <b>Mr. Walter Eitner</b><br>
 <b>
Expert Manager for Eastern Europe, Mark Andy</b></div>
	</div>
<div id="bxdynamic_EFTwMh_end" style="display:none"></div>
                        
            </div>
            </div>

            </div>


</div>
{% endblock %}