{% extends "base.html" %}



{% block content %}
    <title>Технологические возможности</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/about/">О компании</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/history/">История</a>
							</li>
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/tech/">Технологические возможности</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/policy/">Политика в области качества</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/cvodka/">Специальная оценка условий труда</a>
							</li>
							<li class="lev1 last-item hovered">
								<a style="display: block;" class="otherLink" href="/reviews/">Отзывы</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
<div class="col-md-3 container" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">

<h1>Технологические возможности</h1>

			    <p>
 <b><span style="font-family: Verdana;">Технологические возможности компании "Неопринт"&nbsp;позволяют найти индивидуальное решение даже для самого взыскательного клиента!</span></b><br>
 <span style="font-family: Verdana;"> </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
	<span style="font-family: Verdana;">"Неопринт"&nbsp;— современное европейское производство, работающее в замкнутом технологическом цикле. Мы стремимся обеспечить своих клиентов продукцией высокого качества, и поэтому сотрудничаем с ведущими мировыми поставщиками оборудования и материалов. На всех этапах полиграфического производства мы предлагаем современные, высокотехнологичные решения, наиболее соответствующие поставленной задаче. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> <b>Нам доступны:</b></span>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">Ролевая флексографическая печать</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Ролевая офсетная печать</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Листовая офсетная печать</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Ролевая трафаретная печать</span>
	</p>
 </li>
</ul>
<p>
</p>
<p>
 <span style="font-family: Verdana;"><b>Полный цикл производства:</b></span>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">Дизайн</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Допечатная подготовка</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Печать</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Постпечатная обработка</span>
	</p>
 </li>
</ul>
<p>
 <br>
</p>
 <br>

            </div>
            </div>

            </div>


</div>
{% endblock %}