{% extends "base.html" %}



{% block content %}
    <title>Этикетки, стикеры, наклейки</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/etiketki1/">Этикетки, стикеры, наклейки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki2/">Многослойные этикетки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki3/">Рекламные этикетки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki4/">Этикетки-замки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki5/">Бирки, ярлыки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki6/">Отраслевое применение</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki7/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki8/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">


<h3>Этикетки, стикеры, наклейки</h3></b></span><br>
 <span style="font-family: Verdana;">Мы печатаем <a href="http://neoprint.ru/products/etiketochnaya-produktsiya/?clear_cache=Y">самоклеящиеся этикетки</a> для товаров бытовой химии, средств гигиены, алкогольных напитков, продуктов питания, автомобильных товаров, изготавливаем наклейки для популярных журналов, багажные бирки, стикеры «Досмотрено» для крупных авиакомпаний.</span>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">
	Создание самоклеящихся этикеток требует от компании – производителя большого опыта, профессионализма, современного и функционального оборудования, внимательного подхода к изготовлению каждого заказа. Наша компания обладает всем необходимым для изготовления полиграфической продукции, точно соответствующей ожиданиям заказчиков и текущим требованиям рынка. </span>
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;"> </span>
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">Если более подробно рассмотреть<b> структуру этикетки</b>, то можно определить, что она состоит из трех основных элементов:</span>
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<ul style="text-align: left;">
	<li>
	<p>
 <span style="font-family: Verdana;">поверхностный материал - на нем располагается видимая покупателю информация</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">адгезив - клеевой слой (стандартный, легкосъемный, усиленный)</span>
	</p>
 </li>
	<li><span style="font-family: Verdana;">подложка - силиконизированная бумага или пленка ПЭТ для размещения этикетки.</span></li>
</ul>
 <span style="font-family: Verdana;">Профес</span><span style="font-family: Verdana;">сиональное изготовление этикетки начинается с определения оптимального сочетания этих элементов. Технологические возможности компании "Неопринт"&nbsp;позволяют осуществлять производство этикеток на любых материалах с использованием различных видов клея.</span><br>
 <span style="font-family: Verdana;"> </span>
<p>
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">
	Стоит заметить, что качественная этикетка помогает не только сообщить необходимую информацию, но и привлечь внимание потребителя к товару, определиться с выбором, поэтому очень часто этот элемент упаковки применяется в маркетинговых целях. Если вы хотите сделать свою продукцию более привлекательной и интересной, то рекомендуем обратить внимание на вместительные и функциональные <a href="http://www.neoprint.ru/products/mnogosloynye-etiketki/">многослойные этикетки</a>, а также на возможности, которые предоставляют <a href="http://www.neoprint.ru/products/etiketki-dlya-promo-aktsiy/">промо (рекламные) – этикетки</a>. </span>
</p>
<h5 style="text-align: left;"> <b><span style="font-family: Verdana;">Продажа готовой продукции со склада</span></b> </h5>

<p style="text-align: left;">
 <span style="font-family: Verdana;">Компания "Неопринт" предлагает готовые <b>наклейки "НЕ КУРИТЬ" </b>(D200мм, белая пленка)&nbsp;по специальной низкой цене - от 5 рублей за штуку.</span>
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">Наклейки отпускаются только в количестве кратном 50.</span>
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">Цены в зависимости от количества:</span>
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">0-100 шт=50 рублей за шт;</span>
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">100-500 шт</span><span style="font-family: Verdana;">=</span><span style="font-family: Verdana;">35 рублей за </span><span style="font-family: Verdana;">шт;</span>
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">500-1000 шт=</span><span style="font-family: Verdana;">20 рублей за шт;</span>
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">от 1000 шт=5 рублей за шт.</span>
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">&nbsp;Более подробную информацию вы можете узнать, связавшись с нами по электронной почте </span><a href="mailto:neo@neoprint.ru" target="_blank"><span style="font-family: Verdana;">neo@neoprint.ru</span></a><span style="font-family: Verdana;"> или по телефону +7(812) 677 55 71</span>
</p>
 <br>
<p style="text-align: left;">
 <span style="font-family: Verdana;"><br>
 </span>
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;"> </span>
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;"> </span>
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-family: Verdana;">&nbsp;&nbsp;</span>
</p>
<p style="text-align: justify;">
</p>
<ul>
</ul>
<ul>
</ul>        </div>
    </div>

                </div>
            </div>

{% endblock %}
