{% extends "base.html" %}



{% block content %}
    <title>Многослойные этикетки</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki1/">Этикетки, стикеры, наклейки</a>
							</li>
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/etiketki2/">Многослойные этикетки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki3/">Рекламные этикетки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki4/">Этикетки-замки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki5/">Бирки, ярлыки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki6/">Отраслевое применение</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki7/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki8/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">


<h3>Многослойные этикетки</h3>
             <span style="font-family: Verdana;">
<p style="text-align: justify;">
</p>
 </span>
<p style="text-align: left;">
</p>
<p>
 <b><span style="font-family: Verdana;">Многослойные этикетки </span></b><span style="font-family: Verdana;"><b>способны помочь решить проблему с размещением большого количества информации на упаковке продукта.&nbsp;</b></span>
</p>
<p>
 <span style="font-family: Verdana;">Элементы подобных этикеток с легкостью отделяются друг от друга (благодаря специальному покрытию), позволяя производителю сказать покупателям намного больше, чем позволяет это сделать обычная однослойная этикетка. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Многослойная этикетка состоит из пяти основных элементов:</span>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">поверхностного материала,</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">съемного клея (соединяет внешние слои этикетки)</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">второго поверхностного материала</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">постоянного клея &nbsp;(подбирается в зависимости от поверхности, на которую будет наноситься этикетка, и условий хранения),</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">подложки.</span>
	</p>
 </li>
</ul>
<p>
</p>
 <span style="font-family: Verdana;">Основная функция такой этикетки - рассказать о товаре как можно больше, заинтересовать внимание покупателя. Многослойная этикетка дает возможность размещения большого количества информации непосредственно на продукции, не прибегая к уменьшению кегля шрифта до трудночитаемого или к отказу от части текса, способного повлиять на решение о покупке. Применение такой этикетки позволяет существенно сократить затраты на производство упаковки и печать дополнительных информационных инструкций к продукции.&nbsp;</span><br>
 <span style="font-family: Verdana;"> </span><br>
 <span style="font-family: Verdana;">
Многослойная этикетка, в зависимости от ваших пожеланий, может приклеиваться:<br>
 </span><span style="font-family: Verdana;"><br>
 </span>
<ul>
	<li><span style="font-family: Verdana;">непосредственно к поверхности товара,<br>
 </span><span style="font-family: Verdana;"><br>
 </span></li>
	<li>к базовой этикетке того же размера,<br>
 <span style="font-family: Verdana;"><br>
 </span></li>
	<li>к более крупной этикетке.</li>
</ul>
<p>
 <span style="font-family: Verdana;"> </span>
</p>
 <span style="font-family: Verdana;">
Часто&nbsp;многослойные&nbsp;</span><span style="font-family: Verdana;">этикетки&nbsp;являются&nbsp;</span><span style="font-family: Verdana;">основой&nbsp;для&nbsp;создания&nbsp;привлекательной&nbsp;</span><a href="http://www.neoprint.ru/products/etiketki-dlya-promo-aktsiy/"><span style="font-family: Verdana;">рекламной этикетки.</span></a><span style="font-family: Verdana;"> Под верхним слоем можно удачно скрыть индивидуальный код или названия приза в моментальных розыгрышах, этот ход активно использую маркетологи многих крупных компаний.<br>
 </span>&nbsp;<span style="font-family: Verdana;"><br>
 </span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
<div style="text-align: start;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="text-align: center;">&nbsp;</div>
 <a href="http://neoprint.ru/customers/"></a><span style="font-family: Verdana;"><br>
 </span>
<ul>
</ul>        </div>
    </div>

                </div>
            </div>

{% endblock %}
