{% extends "base.html" %}



{% block content %}
    <title>Рекламные этикетки</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki1/">Этикетки, стикеры, наклейки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki2/">Многослойные этикетки</a>
							</li>
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/etiketki3/">Рекламные этикетки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki4/">Этикетки-замки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki5/">Бирки, ярлыки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki6/">Отраслевое применение</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki7/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki8/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">


<h3>Рекламные этикетки</h3>
             </span><span style="font-family: Verdana;">Компания "Неопринт" предлагает специализированные решения для этикеток, способных помочь в решении значительного количества задач:<br>
 </span><span style="font-family: Verdana;"><br>
<ul>
	<li><b>Увеличение продаж.</b> Промо-этикетка способна поднять спрос на вашу продукцию, ведь на ней может быть размещена информация об акции, моментальные выигрыши, промо-коды, рисунки, спрятанные под&nbsp; скретч (стираемым) - слоем. Потребитель включается в процесс игры, начинает собирать баллы, участвовать в конкурсах, и, главное, чаще делать покупки.<br>
 </li>
</ul>
 </span><span style="font-family: Verdana;">
<ul>
	<li><b>Запуск нового продукта.</b> Рекламная наклейка может подтолкнуть потребителя на приобретение совсем нового, еще неизвестного ему продукта, так как делает товар более заметным среди конкурентов и привлекает возможностью получить дополнительную выгоду.&nbsp; Для отчетности о выданных подарках может использоваться этикетка целиком или ее фрагмент. В этом случае этикетка содержит перфорацию.</li>
</ul>
 </span><span style="font-family: Verdana;">
<ul>
	<li><b>Размещение дополнительной информации. </b>Промо-этикетка может также содержать дополнительную информацию, интересную потребителю, например, познавательные факты, кулинарные рецепты, анекдоты и так далее. Для этого случая отлично подойдет многослойная этикетка.</li>
</ul>
 </span><span style="font-family: Verdana;">
<ul>
	<li><b>Исследование целевой аудитории.</b> Этикетка может содержать мини-анкету для отправки по почте. Благодаря особой технологии купон легко отклеивается, не пачкает руки и не приклеивается повторно.</li>
</ul>
 </span>
<ul style="font-family: Verdana;">
	<li><b>Продвижение private labels.</b> При продвижении private label (торговой марки, владельцем которой является розничная сеть) обычно используется не реклама, а стимулирующие сбыт акции в магазинах. BTL-мероприятия могут проводиться силами собственных сотрудников, что значительно снижает затраты. Для BTL-акций идеально подходят промо-этикетки.Промо-этикетки – идеальный рекламный инструмент. Компания "Неопринт"&nbsp;предлагает специализированные решения для таких этикеток.&nbsp;</li>
</ul>
 <br>
<ul style="font-family: Verdana;">
</ul>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<ul>
</ul>
<p>
</p>        </div>
    </div>

                </div>
            </div>

{% endblock %}
