{% extends "base.html" %}



{% block content %}
    <title>Этикетки-замки</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki1/">Этикетки, стикеры, наклейки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki2/">Многослойные этикетки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki3/">Рекламные этикетки</a>
							</li>
                            <li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/etiketki4/">Этикетки-замки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki5/">Бирки, ярлыки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki6/">Отраслевое применение</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki7/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki8/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">

<h3>Этикетки-замки</h3>
            <p>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;"><b>Обеспечивает удобство использования продукта.</b> Данная этикетка обычно размещается на продуктах питания (крупы, чай, кофе, специи) и средствах гигиены (влажные салфетки, бумажные платки), допускает многократное приклеивание. Наличие такой детали является большим преимуществом в глазах потребителей, так как предотвращает высыпание, высыхание продукции, защищает от попадания инородных предметов после вскрытия.&nbsp;</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;"><b>Защищает от вскрытия до покупки.</b> Этикетка-замок может быть изготовлена из специального материала, который разрушается при попытке вскрытия. Таким образом, наклейку - пломбу невозможно приклеить обратно без видимых повреждений, что позволяет безошибочно выявить повреждение товара.</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;"><b>Является дополнительным элементом дизайна.&nbsp;</b>Этикетка-замок может выгодно дополнить внешний вид упаковки, выделить продукт среди подобных. Например, с помощью такой этикетки можно добавить упаковки красок, сделав яркий акцент на удобную цветную деталь. Кроме этого, на&nbsp; наклейку можно нанести сообщение о маркетинговой акции, ключевые преимущества товара или другую дополнительную информацию, интересную покупателям.</span>
	</p>
 </li>
</ul>
<p>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Компания «Неопринт» предлагает изготовление фиксирующих этикеток различных форм и размеров, способных придать вашей упаковке современный, привлекательный вид и функциональность. Наш опыт позволяет найти наиболее подходящее решение для каждого конкретного случая, специалисты отдела продаж с удовольствием ответят на все интересующие вас вопросы.</span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
<p>
 <span style="font-family: Verdana;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </span>
</p>        </div>
    </div>


                </div>
            </div>

{% endblock %}
