{% extends "base.html" %}



{% block content %}
    <title>Бирки, ярлыки</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki1/">Этикетки, стикеры, наклейки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki2/">Многослойные этикетки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki3/">Рекламные этикетки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki4/">Этикетки-замки</a>
							</li>
                            <li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/etiketki5/">Бирки, ярлыки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki6/">Отраслевое применение</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki7/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki8/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">


<h3>Бирки, ярлыки</h3>
            <p>
</p>
 </a>
<p>
 <span style="font-family: Verdana;"><b>Товарная бирка – важная деталь продукта, которая сообщает покупателям основную и дополнительную информацию, привлекает внимание, повышает доверие к производителю.&nbsp;</b></span>
</p>
<p>
 <span style="font-family: Verdana;">Главные функции этого элемента состоят в обеспечение идентификации изделия среди большого количества подобных, в предоставлении структурированных сведений (цена, размер, логотип, производитель, модель и т. д.), а также в определении подлинности. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Товарная бирка - это своеобразная замена этикетки для изделий, на которые ее невозможно нанести, показывающая серьезное отношение компании-производителя к своей продукции. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Компания «Неопринт» предлагает производство <b>ювелирных бирок, паспорта&nbsp;качества товара, багажных бирок, ярлыков на бижутерию, одежду, кожгалантерею, игрушки, саженцы</b> из бумаги, картона и синтетических материалов. На сегодняшний день применение синтетических материалов является наиболее популярным, так обеспечивает большую устойчивость к механическому воздействию, их практически невозможно разорвать или повредить, в результате бирка сохраняет все свои свойства и презентабельный внешний вид на протяжении долгого времени. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	&nbsp;На ярлыках и бирках, как правило, присутствует небольшая просечка для крепления, перфорация для отрыва и сгиба, а также могут быть оставлены специальные поля для нанесения информации производителем. Для придания биркам большей привлекательности может применяться ламинирование, лакирование, тиснение. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Специалисты компании, используя богатый опыт и современное оборудование, создадут вместе с вами качественный и долговечный продукт, добавляющий ценности вашим товарам.</span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
<p>
 <span style="font-family: Verdana;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
</p>        </div>
    </div>

                </div>
            </div>

{% endblock %}
