{% extends "base.html" %}



{% block content %}
    <title>Полиграфическая защита</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki1/">Этикетки, стикеры, наклейки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki2/">Многослойные этикетки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki3/">Рекламные этикетки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki4/">Этикетки-замки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki5/">Бирки, ярлыки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki6/">Отраслевое применение</a>
							</li>
							<li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/etiketki7/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki8/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">

<h3>Полиграфическая защита</h3>
             <br>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;"><b>Комбинированная печать</b></span><b> </b>
	</p>
 <b> </b></li>
	<li><b> </b>
	<p>
 <b> </b><span style="font-family: Verdana;"><b>Защищенный дизайн</b></span><b> </b>
	</p>
 <b> </b></li>
	<li><b> </b>
	<p>
 <b> </b><span style="font-family: Verdana;"><b>Защитные краски</b></span><b> </b>
	</p>
 <b> </b></li>
	<li><b> </b>
	<p>
 <b> </b><span style="font-family: Verdana;"><b>Голография</b></span><b> </b>
	</p>
 <b> </b></li>
	<li><b> </b>
	<p>
 <b> </b><span style="font-family: Verdana;"><b>Персонализация, нумерация</b></span>
	</p>
 <b> </b></li>
	<li><b> </b>
	<p>
 <b> </b><span style="font-family: Verdana;"><b>Защита от переклеивания</b></span><b> </b>
	</p>
 <b> </b></li>
	<li><b> </b>
	<p>
 <b> </b><span style="font-family: Verdana;"><b>Расслаивающиеся материалы</b></span>
	</p>
 </li>
</ul>
<p>
</p>
<h4> <span style="font-family: Verdana;">Комбинированная печать</span> </h4>
<p>
 <span style="font-family: Verdana;">Использование сочетания нескольких печатных технологий в одном полиграфическом продукте усложняет фальсификацию. Таким образом,&nbsp;хорошим решением, например, становится применение в процессе создания этикеток, помимо основного метода – флексографии, дополнительных технологий – офсетной и шелкографической печати. Офсетная печать позволяет получить&nbsp;качественные переходы цвета и&nbsp;растровых&nbsp;элементов, а шелкографическая печать помогает нанести ощутимый слой краски на этикетку, что делает подделку трудной и экономически невыгодной.</span>
</p>
 <span style="font-family: Verdana;"> </span>
<h4><span style="font-family: Verdana;">Защитный дизайн</span> </h4>
 <span style="font-family: Verdana;"> </span>
<p>
</p>
<p>
 <span style="font-family: Verdana;">Для более серьезной защиты продукции в дизайн этикетки или бирки могут добавляться полиграфические защитные элементы: микротексты, гильош-элементы, элементы по технологии «ирисового раската», умышленные дефекты, скрытые изображения, штрих-коды и другие. Все эти дополнения не сильно сказываются на стоимости этикетки, но сделать их без дорогого и мощного оборудования не представляется возможным.</span>
</p>
 <span style="font-family: Verdana;"> </span>
<h4> <span style="font-family: Verdana;"> </span><span style="font-family: Verdana;">Защитные краски</span> </h4>
<p>
 <span style="font-family: Verdana;">Использование специальных красок в полиграфии играет не только декоративную, но и важную функциональную роль – создает дополнительную защиту. Часто применяются краски, заметные только при воздействии определенных факторов: УФ-излучения, ИК-лучей, определенной температуры, механического воздействия, магнитного поля, специальных веществ и так далее. Использование большинства красок может быть определено непосредственно покупателем в момент покупки товара, что облегчает распознавание подделки.</span>
</p>
 <span style="font-family: Verdana;"> </span>
<h4> <span style="font-family: Verdana;"> </span><span style="font-family: Verdana;">Голография</span> </h4>
<p>
 <span style="font-family: Verdana;">Применение голограмм решает сразу несколько задач: украшение продукции, выделение среди конкурентов и защита от подделки. Создать несколько абсолютно одинаковых голограмм довольно сложно, так как печать производится путем создания производителем уникальной микроструктуры.&nbsp; Кроме этого, для обеспечения дополнительной защиты в дизайн голограммы могут быть добавлены защитные элементы, перечисленные выше в пункте « Защитный дизайн» и дополнительные способы защиты: саморазрушение при попытке отклеивания; персонализация (лазерная, струйная); деметализация – химическая и лазерная; оптическая защита.&nbsp;&nbsp;</span><br>
</p>
 <span style="font-family: Verdana;"> </span>
<h4><span style="font-family: Verdana;">Защита от переклеивания</span> </h4>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">Иногда недобросовестные покупатели или сотрудники меняют этикетки местами. Это может делаться с целью приобретения дорогого товара по цене более дешевого или по другим мотивам. Обеспечить достоверность при идентификации поможет защита от переклеивания: нанесение просечек, использование расслаивающихся материалов Foamtac и VOID. У такой этикетки отклеивается только верхний слой, а нижний остается на продукте.</span>
</p>
<h4><span style="font-family: Verdana;">RFID - метка</span></h4>
<p>
 <span style="font-family: Verdana;">RFID –это&nbsp;система&nbsp;радиочастотной&nbsp;идентификации&nbsp;или&nbsp;распознавания, которая происходит с помощью&nbsp;наличия уникального цифрового кода,&nbsp;считываемого&nbsp;из&nbsp;памяти&nbsp;специализированной&nbsp;микросхемы.&nbsp;Данная технология может использоваться в упаковке практически любого товара, позволяет отследить все его перемещения, обеспечивая надежную защиту от подделки.</span>
</p>        </div>
    </div>


                </div>
            </div>

{% endblock %}
