{% extends "base.html" %}



{% block content %}
    <title>Требования к оригинал-макетам</title>
<div class="container-fluid back-c" style="background-color: #f9f5ee;padding:1% 0">
	    <div class="container">
		<div class="row">

            <div class="col-md-3 visible-md visible-lg sidebar" style="background-color: #f9f5ee; padding: 1%">
				<div class="content-block">
					<div class="content-block-inner" style="font-size: 18px">
						<ul id="left-menu" style="padding: 0;  border: 5px solid #fff;">
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki1/">Этикетки, стикеры, наклейки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki2/">Многослойные этикетки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki3/">Рекламные этикетки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki4/">Этикетки-замки</a>
							</li>
                            <li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki5/">Бирки, ярлыки</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki6/">Отраслевое применение</a>
							</li>
							<li class="lev1 hovered">
								<a style="display: block;" class="otherLink" href="/etiketki7/">Полиграфическая защита</a>
							</li>
                            <li class="lev1 selected">
								<a style="display: block;" class="otherLink" href="/etiketki8/">Требования к оригинал-макетам</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
                <div class="col-md-3 container cont_link" style="border: 1px solid #b8b8b8; box-shadow: 1px 1px 10px 10px rgba(0,0,0,.2); background-color: #fff ;min-width: 70%">


<h3>Требования к оригинал-макетам</h3>
            <span style="font-family: Verdana;">Уважаемые дизайнеры! При создании оригинал-макетов, передаваемых в нашу компанию, убедительно просим учитывать приведенные ниже параметры и рекомендации, чтобы результат печати соответствовал Вашим ожиданиям. <br>
 </span><span style="font-family: Verdana;"><br>
 </span>
<p>
 <span style="font-family: Verdana;"> </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> <b>Форматы принимаемых цифровых файлов</b></span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><span style="font-family: Verdana;">Векторные редакторы:</span>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">Adobe Illustrator - до 10-й версии включительно</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Macromedia FreeHand - до 10-й версии включительно</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">ArtPro 8.0</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Corel Draw 11</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Для растровых изображений: Adobe PhotoShop - форматы EPS, TIFF, PSD.</span>
	</p>
 </li>
</ul>
<p>
</p>
<p>
 <b><span style="font-family: Verdana;">Размеры оригинал-макета</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Оригинал-макет необходимо предоставлять в масштабе 100% в соответствии со спецификацией заказа. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Bleed</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	&nbsp;При разработке оригинал-макета, в случаях когда это необходимо, фон и элементы макета необходимо делать с учетом вылета за вырубной нож (Bleed). Bleed - 1 мм для флексо-печати и 3 мм для офсетной печати. Расстояние от важных элементов макета (текста, логотипов и др.) до вырубного ножа должно составлять 1,5-2мм. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Параметры вырубного ножа</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	При разработке оригинал-макета необходимо учитывать минимальный радиус закругления вырубного ножа. Это важный параметр, влияющий на снятие облоя при производстве готовой продукции. Минимальный радиус закругления ножа должен составлять 2 мм. Этот параметр необходимо соблюдать также при разработке ножа сложной формы. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Растровые изображения</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Разрешение растровых изображений - 300dpi. Цветовая модель - CMYK, Grayscale, Multichanel. Для изображений в режиме Monotone Bitmap рекомендуемое разрешение - 600-1200 dpi. Изображения должны быть подлинкованы в файл верстки (linked), т.е. мы должны получить изображения отдельно от верстки. Масштаб растровых изображений - 100%. Не рекомендуется применять деформацию к растровым изображениям, уже помещенным в макет верстки. Минимальное значение растра - 3% для флексографической&nbsp;печати. Для офсета - 2%. Важно: при наличии высоких требованиях к цвету со стороны заказчика рекомендуем заранее связаться с отделом препресс или с менеджерами нашей компании для получения профиля цветового пространства. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Специальные эффекты в оригинал-макетах</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	&nbsp;При использовании в оригинал-макетах, созданных в векторных редакторах, специальных эффектов Drop Shadow, Transparency и других фильтров и эффектов, в основе которых лежит использование прозрачности, всегда следует учитывать минимальное значение растра 3%. При применении данных эффектов результирующие значения цвета зачастую выходят за рамки допустимого минимума 3% . Происходит резкий обрыв растра. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Текст</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Все тексты, используемые в оригинал-макете, должны быть переведены в кривые. В случаях, когда предполагается последующее редактирование текста, шрифты должны прилагаться отдельно. Минимальный размер шрифта 4 pt. Высота строчных символов по высоте должна составлять минимум 1,5 мм. При разработке макета необходимо учитывать тот факт, что шрифт размером менее 12pt будет печататься поверх фона (overprint-ом). При использовании в оригинал-макете текста и линий инверсией желательно задавать вокруг текста, или объекта контурную линию толщиной минимум 0,2 мм, окрашенную в 100% цвет одной из сепараций&nbsp;или в черный цвет. Это необходимо для избежания эффекта «размытия» текста и объектов из-за неприводки печатных секций. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Толщина линий</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Позитив: Печать в 1 краску - желательно не менее 0,1 мм. Печать в 2 краски - минимум 0,3 мм. Инверсия: При печати фона в 1 краску толщина инверсной линии от 0,15- 0,2 мм. Печать фона в 2 и более краски толщина инверсной линии минимум 0,3 мм. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Фирменные знаки и логотипы</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Торговые марки, знаки и логотипы должны быть представлены в векторном формате. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Цвета в оригинал-макетах</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	&nbsp;Используемые в оригинал-макете цвета должны быть определены в CMYK-модели (если это смесевые цвета), либо по каталогу Pantone. Во избежание недоразумений, желательно указать используемые в макете краски в виде плашек, окрашенных в цвет краски и обозначить название краски. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Дополнительные условия печати</span></b>
</p>
<p>
</p>
<ul>
	<li>
	<p>
 <span style="font-family: Verdana;">Конгрев. Для осуществления конгрева необходимо в векторном виде предоставить чертеж, либо на отдельном слое, либо в отдельном файле</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Лакирование. Выборочное лакирование необходимо указать в векторном файле отдельным слоем, либо другими методами.</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">Тиснение фольгой. Места в макете, где предусмотрено горячее тиснение фольгой, необходимо выделить особым цветом (например, Gold). И указывать в списке цветов (см. п. «Цвета в оригинал- макетах»).</span>
	</p>
 </li>
	<li>
	<p>
 <span style="font-family: Verdana;">При печати на фольге или прозрачных носителях “праймер” (или белила) необходимо указать на отдельном слое.</span>
	</p>
 </li>
</ul>
<ul>
</ul>
<p>
</p>
<p>
 <span style="font-family: Verdana;"> </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Штриховые коды&nbsp;(EAN-13 и др.)</span></b><span style="font-family: Verdana;"> </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	При генерации и расположении в оригинал-макете штриховых кодов рекомендуем следовать международному стандарту штрихового кодирования. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Допускается как пропорциональное увеличение символа штрих-кода до 200% от номинальных размеров, так и уменьшение до 80%. Уменьшение высоты символа штрих-кода при сохранении его горизонтальных размеров (усечение) может препятствовать нормальной работе многолучевых сканеров, которые широко используются в супермаркетах. </span>
</p>
<p>
 <span style="font-family: Verdana;"><br>
 </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;"> </span><b><span style="font-family: Verdana;">Цвета штриховых кодов</span></b>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	&nbsp;При считывании штрихового кода сканер реагирует на чередование темных и светлых полей, поэтому контраст между штрихами и пробелами должен быть достаточным для его работы. Правилом для печати штрих-кодов является ЧЕРНЫЙ ЦВЕТ НА БЕЛОМ ФОНЕ. Для штрих-кодов рекомендуется также использовать темные тона красок ближе к синему. </span>
</p>
 <span style="font-family: Verdana;"> </span>
<p>
 <span style="font-family: Verdana;">
	Если Вы не уверены в том, что символ штрих-кода, который создала Ваша программа, корректный - присылайте числовой код и мы сгенерируем штрих - код сами. Необходимо только оставить место под него в макете. При возникновении вопросов, ответы на которые Вы не нашли в данном документе, просьба связываться с менеджерами по продажам или с Отделом препресс. </span>
</p>
 <br>        </div>
    </div>

                </div>
            </div>

{% endblock %}
