body{
    color:#000;
    background-color: #fff;
    font-family: Trebuchet MS, sans-serif;
    height: 100%;
}
a{
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;

}
a:hover{
    color:#000;

    transition: all .2s ease-in-out;
}
ul {
    list-style-type: none;
    color: #fa6859;
}
li{
    padding: 10px 0 10px 10px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.otherLink{
    color: #ee0206;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.otherLink:hover{
    color: #941818;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
b{
    color: #ed171d;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.footer {
    display: flex;
    width: 100%;
    bottom: 0;
    left:0;
    padding-left: 13.5%; /* Поля вокруг текста */
    background: #fa6859; /* Цвет фона */
    color: #fff; /* Цвет текста */
}
@media (pointer:none), (pointer:coarse) {
    .footer{
        position: fixed;
    }
}
img.rounded-corners {
    border-radius: 30px;
    max-width: 100%;
}
hr{
    color: #fa6859;
    border-top: 1px solid #fa6859;
}

.navbar {
    background-color: #fa6859;
    justify-content: start;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;

}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: red;
  transition: all .2s ease-in-out;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.selected{
    background-color: #fa6859;
}
.selected a{
    color: white;
}
.hovered{
    transition: all .2s ease-in-out;
    background-color: white;
}
.hovered:hover{
    transition: all .2s ease-in-out;
    background-color: #fa6859;
}
.hovered:hover a{
    transition: all .2s ease-in-out;
    color: white;
}
.icon{
    transition: all .2s ease-in-out;
    border: 0 solid #f1000d;
}
.icon:hover{
    transition: all .2s ease-in-out;
    border: 3px solid #f1000d;
}
.content{
    width: 100%;
    box-sizing: border-box;
}
.inputtext{
    width: 100%;
}
.map-level-0 a {
    transition: all .2s ease-in-out;
    margin-bottom: 10px;
    display: block;
    color: #000;
}
.map-level-0 a:hover {
    transition: all .2s ease-in-out;
    margin-bottom: 10px;
    display: block;
    color: red;
}
.map-level-0 li{
    padding: 5px 0 5px 10px;
}
.button-red{
    transition: all .2s ease-in-out;
    background-color: #fa6859;
    line-height: 2em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
    cursor: pointer;
    border: 0;
}
.button-red:hover{
    transition: all .2s ease-in-out;
    background-color: #fa0f16;
}
.button-grey{
    transition: all .2s ease-in-out;
    background-color: gray;
    line-height: 2em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
    cursor: pointer;
    border: 0;
}
.button-grey:hover{
    transition: all .2s ease-in-out;
    background-color: #505050
}
.data b{
    color:#fa6859 !important
}
.equip ul{
    list-style-type: circle;
}
.cont_link a{
    color:#fa0f16
}